BasicBrowser/celerybeat-schedule
BasicBrowser/twitter/management/commands/*.yaml
*#*
exports/*
*/.dir-locals.el
__pycache__
logs/*
settings_local.py
*~
.idea/*
.Rproj.user
BasicBrowser/queries/*
BasicBrowser/static/*
BasicBrowser/nohup.out
*.httr.oauth
BasicBrowser/*worker*
dump.rdb
BasicBrowser/media/*
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
BasicBrowser/dtm_io_archive/*
BasicBrowser/twitter/users.json
BasicBrowser/twitter/tweets.json
BasicBrowser/tweets/*
*/dtm-input*
*/dtm-output*
*nohup.out
docs/*
tweets/*
.*swp
