__pycache__
logs/*
settings_local.py
*~
.Rproj.user
BasicBrowser/queries/*
BasicBrowser/static/*
BasicBrowser/nohup.out
*.httr.oauth
BasicBrowser/*worker*
dump.rdb
BasicBrowser/media/*
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
BasicBrowser/twitter/users.json
BasicBrowser/twitter/tweets.json
BasicBrowser/tweets/*
*/dtm-input*
*/dtm-output*
