{% extends "scoping/base_bs.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<p>
<h2> Add {{ei}} for - {{ dmc.doc.title }}</h2>

<form class="form" action="" method="POST">
    {% csrf_token %}

    <input type="hidden"  name="page_load" value="{{now}}">

    <div class="container border rounded bg-white p-2">
      For all variables, leave as -999 for information not available, or -888 for
      information not relevant.
    {% for g in groups %}
        {% if g.counter0 > 0 %}
        <hr>
        {% endif %}
        <div data-group="{{g.title}}" class="container">
            <div class="row">
            <h4 class="m-2 mb-1">{{g.title}}</h4>

            {% if g.title %}
              {% if g.notes %}
                <i class="btn em-svg em-spiral_note_pad" data-note="show" title="view note"
                data-toggle="modal"
                data-target="#dnote-modal"
                data-user="{{g.notes.0.user.username}}"
                data-date="{{g.notes.0.date}}"
                data-text="{{g.notes.0.text}}"
                data-l="{% url 'scoping:delete' thing='Note' thingid=g.notes.0.pk %}"
                data-group="{{g.title}}"></i>&nbsp;
              {% else %}
                <i style="" class="btn em-svg em-writing_hand" data-note="add" title="add note"
                data-toggle="modal"
                data-target="#note-modal"
                data-group="{{g.title}}"></i>&nbsp;
              {% endif %}
            {% endif %}
            <!-- <i class="em em-speech_balloon"></i> -->
            </div>
            <div class="row">
            {% for f in g.form_fields %}
                {% if forloop.counter|divisibleby:5 %}
                  </div><div class="row">
                {% endif %}
                {% include "scoping/snippets/dynamic_form_input.html" with f=f %}
            {% endfor %}
            </div>
        </div>

    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="NoteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="NoteModalLabel">Add Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <form id="note_form"> -->
              <form id="noteForm" action="{% url 'scoping:add_note' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="dmc" value="{{dmc.id}}"></input>
                {% if instance %}
                  <input type="hidden" name="effect" value="{{instance.id}}"></input>
                {% endif %}
                <input type="hidden" name="pid" value="{{project.id}}"></input>
                <input type="hidden" name="field_group" value=""></input>
              <textarea class="form-control" name="note" rows=3>
              </textarea>
              <br>
              <p>

            <!-- </form> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="addNote" class="btn btn-primary">Add note</button>
          </div>

          </form>

        </div>
      </div>
    </div>

    <div class="modal fade" id="dnote-modal" tabindex="-1" role="dialog" aria-labelledby="dNoteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dNoteModalLabel">View Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

                <p class="notedesc"><b>At <span id="noteDate"></span>,<span id="nUsername"></span> wrote...</b>
                <hr>
                <span id="noteText"></span>
                <input type="hidden" id="nFieldGroup"

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id="noteDelete" href="">
              <button type="button" class="btn">Delete</button>
            </a>
          </div>

          </form>

        </div>
      </div>
    </div>


    <div class="row">
    {% for f in form_fields %}
        {% if forloop.counter0|divisibleby:2 %}
    </div>
    <div class="row">
        {% else %}
        {% endif %}

        {% include "scoping/snippets/dynamic_form_input.html" with f=f %}

    {% endfor %}
    </div>


{% endblock %}


{% block script %}
<script src="{% static 'scoping/js/forms.js' %}"></script>
<script type="text/javascript">

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$('#addNote').click(function(e){
      e.preventDefault();
      var form_array = $('#noteForm').serializeArray()
      var group = $("#noteForm").find('[name=field_group]').val()
      form_array.push({ // *expand the array to include a csrf token*
        name: 'csrfmiddlewaretoken',
        value:  getCookie('csrftoken') // getCookie function from django docs
      });
      var b = $('i[data-group="'+group+'"]')

      $.post(
         $('#noteForm').attr('action'),
         form_array,
         function(data, status, xhr){
           l =  '/scoping/delete/Note/'+data.id
           b.removeClass("em-writing_hand")
           b.addClass("em-spiral_note_pad")
           b.attr('data-target', "#dnote-modal")
           b.attr('data-user', data.username)
           b.attr('data-date', data.date)
           b.attr('data-text', data.text)
           b.attr('data-group', data.field_group)
           b.attr('data-l', l)
           $('#note-modal').modal('toggle')
         });
});

$('#noteDelete').click(function(e){
    e.preventDefault();
    var field_group = $('#nFieldGroup').val()
    var b = $('i[data-group="'+field_group+'"]')

    $.get(
      $(this).attr('href'),
      function(data, status, xhr) {
        b.addClass("em-writing_hand")
        b.removeClass("em-spiral_note_pad")
        b.attr('data-target', "#note-modal")

        b.removeAttr('data-user')
        b.removeAttr('data-date')
        b.removeAttr('data-text')
        $('#dnote-modal').modal('toggle')
      }
    )
});

$('#note-modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var field_group = button.attr('data-group')
  var modal = $(this)
  modal.find('[name="field_group"]').val(field_group)
})

$('#dnote-modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var username = button.data('user')
  var modal = $(this)
  modal.find('#nFieldGroup').val(button.attr('data-group'))
  modal.find('[id="nUsername"]').html(username)
  modal.find('#noteDate').html(button.attr('data-date'))
  modal.find('#noteText').html(button.attr('data-text'))
  modal.find('#noteDelete').attr("href", button.attr('data-l'));
})

function meanDiff(s) {
    if (['Difference of means','ANOVA'].includes(s)) {
        $('*[data-group="Difference of means"]').removeClass("hidden")
        $('*[data-group="Coefficient"]').addClass("hidden")
    } else {
        $('*[data-group="Difference of means"]').addClass("hidden")
        $('*[data-group="Coefficient"]').removeClass("hidden")
    }
}

$("#select_statistical_technique").change(function() {
    console.log($(this).val())
    meanDiff($(this).val())
})

$("#clearfile").click(function() {
  $("#fileValue").addClass("hidden")
  $("#input_calculations_file").removeClass("hidden")
      .attr("name", "calculations_file");
})

meanDiff($("#select_statistical_technique").val())
</script>
{% endblock %}
