<html>
<head>
{% load static %}
{% load bootstrap4 %}

{% load scoping_extras %}
{% load render_table from django_tables2 %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Scoping</title>

<script src="{% static 'scoping/js/d3.v3.min.js' %}"></script>
<script src="{% static 'scoping/js/jquery-3.2.0.min.js' %}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script>
if (!window.x) {
    x = {};
}

x.Selector = {};
x.Selector.getSelected = function() {
    var t = '';
    if (window.getSelection) {
        t = window.getSelection();
    } else if (document.getSelection) {
        t = document.getSelection();
    } else if (document.selection) {
        t = document.selection.createRange().text;
    }
    return t;
}

var pageX;
var pageY;

$(document).ready(function() {
    $(document).bind("mouseup", function() {
        var selectedText = x.Selector.getSelected();
        if(selectedText != ''){
            $('ul.tools').css({
                'left': pageX + 5,
                'top' : pageY - 55
            }).fadeIn(200);
        } else {
            $('ul.tools').fadeOut(200);
        }
    });
    $(document).on("mousedown", function(e){
        pageX = e.pageX;
        pageY = e.pageY;
    });
});
</script>

{% bootstrap_javascript %}
{% bootstrap_css %}
<link href="{% static 'scoping/css/styling_bs.css' %}" rel="stylesheet" type="text/css">

</head>
  <body>
      {% include 'scoping/nav_bar_bs.html' with user=user qid=query.id query=query qid=query.id %}

<div id="main" class="container bg-light col-md-10">
    <div class="row-fluid columns content">
    {% block content %} {% endblock %}
    </div>
</div>


    </body>
    {% block script %} {% endblock %}
</html>
