<html>
<head>
{% load static %}
{% load scoping_extras %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="{% static 'tmv_app/js/d3.v3.min.js' %}"></script>
<script language="JavaScript" src="https://code.jquery.com/jquery-1.4.4.js"></script>
<title>Scoping</title>
<link href="{% static 'scoping/css/styling.css' %}" rel="stylesheet" type="text/css">

</head>
  <body>
{% include 'scoping/nav_bar.html' with user=user qid=query.id %}
<div id="main">
<div id="graph">
<h1> Scoping Review Helper</h1>
<br>
<h2> Query Sampler (<a href="/scoping/query/{{query.id}}">Query no. {{query.id}}</a>) - Welcome, {{user.username}}, your progress: </h2>
<div id="progress"></div>
<!-- Query manager -->
<p><a href="/scoping/screen/{{query.id}}/{{tag.id}}/1/-1">Back</a>

<p>Is the document below (one of {{ ndocs }} remaining) relevant?

<div id="criteria">
<h4>Inclusion/Exclusion Criteria</h4>
<p>
{{ query.criteria | safe}}
</div>

</div>
</div>

<table width="100%">
<td width="20%">

{% for note in doc.note_set.all %}
<div class="note">
<p class="notedesc"><b>{{note.date}}, {{note.user.username}} wrote...</b>
<hr>
{{note.text}}
<hr>
<a href="{% url 'scoping:delete' thing='Note' thingid=note.pk %}">Delete
</a>

</div>
{% endfor %}
<td width="60%">
    <div id="docbox">
    <h4> {{ title | safe }}</h4>
    <p>{{ doc.wosarticle.so }} ({{ doc.wosarticle.py }}) <a target="_blank" href="http://dx.doi.org/{{ doc.wosarticle.di }}">{{ doc.wosarticle.di}}</a>
    <p style="text-align:left">
    {{ doc.docauthinst }}
    {% for au in authors %}
	    <span>{{au.AF}} [{{au.institution}}];</span>
    {% endfor %}
    <p style="text-align:left">
    {{ abstract | safe }}
    </div>
    <table class="spread" width="100%">
	    <tr>
	    <td><button onclick="review(1)">Yes</button>
	    <td><button onclick="review(2)">No</button>
	    <td><button onclick="review(3)">Maybe?</button>
	    <td><button onclick="review(4)">Yes but not this technology</button>
	    </tr>
    </table>
<p >
<div class="explanation" style="text-align:center">
This document is assigned to the following technologies:
<p>
<b>
{% for t in qtechs %}
    {{t.name}}
{% endfor %}
</b>
<p>
Click on any of the following technologies to add this document to them
<p id="field_container">
{% for t in ntechs %}
    <span class="field_name" data-tech="{{t.id}}">{{t.name}}</span>
{% endfor %}
</b>
</div>
<td width="20%">
<div class="noteform">
    <form action="{% url 'scoping:add_note' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="docn" value="{{doc.UT}}"></input>
      <input type="hidden" name="qid" value="{{query.id}}"></input>
      <input type="hidden" name="ctype" value="{{ctype}}"></input>
      <input type="hidden" name="tag" value="{{tag.id}}"></input>
      <input type="hidden" name="d" value="{{d}}"></input>
    <textarea name="note" rows=3 cols=30>
    </textarea>
    <p>
    <input type="submit" value="Add note" />
</form>
</div>


</table>
<p>

<script>

$(".field_name").click(function() {
    tech = $(this).attr("data-tech")
    doc = "{{doc.UT}}"
    $.ajax({
        url: '/scoping/doc_tech',
        data: {
            'did': doc,
            'tid': tech
        },
        success: function(data) {
            location.reload()
        }
    })
})

var tdocs = {{ tdocs }}
var sdocs = {{ sdocs }}

var width = $("#progress").parent().width()*0.8;
var height = 40

var graph = d3.select("#progress")
    .append("svg")
    .attr("width", width) 
    .attr("height", height);

graph.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "white")
    .style("stroke", "black")
    .style("stroke-width", 2)

xscale = d3.scale.linear()
    .domain([0, tdocs])
    .range([width*0.0, width*1]);

graph.append("rect")
    .attr("width", xscale(sdocs))
    .attr("y", height*0.35)
    .attr("height", height*0.3)
    .style("fill", "steelblue")
    .style("stroke", "grey")
    .style("stroke-width", 1);

tick = tdocs/10
ticks = []
for (i=1;i<10;i++) {
    ticks.push({'pcnt': i*10, 'value': i*tick})
}
console.log(ticks)

graph.selectAll("line")
	.data(ticks)
	.enter()
	.append("line")
    .style("stroke","grey")
    .style("stroke-width",1)
	.attr("x1", function(d) { return xscale(d.value)})
	.attr("x2", function(d) { return xscale(d.value)})
    .attr("y1", 0)
    .attr("y2", height);
    
	
var qid = {{ query.id }}
var docid = "{{ doc.UT }}"


function review(d) {
	console.log(qid)
	console.log(docid)
	$.ajax({
		url: '/scoping/do_review',
		data: {
            'tid' : {{tag.id}},
			'query': qid,
			'doc': docid,
			'd':d
		},
		success: function() {
            if ({{ctype}}>1) {
                var doc = {{d}}
                url = 'scoping/screen/{{query.id}}/{{tag.id}}/{{ctype}}/'+(doc+1)
                window.location.href = url
            } else {            
			    location.reload()
            }
		}
	})
console.log({{page}})
}
</script>

</body>
</html>
