<html>
  <head>
    {% load static %}
    {% load scoping_extras %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="{% static 'tmv_app/js/d3.v3.min.js' %}"></script>
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.4.4.js"></script>
    {% if query.type == "default" %}
      <title>Scoping</title>
      <link href="{% static 'scoping/css/styling.css' %}" rel="stylesheet" type="text/css">
    {% else %}
      <title>Snowballing - Reviewing documents</title>
      <link href="{% static 'scoping/css/stylingsbs.css' %}" rel="stylesheet" type="text/css">
    {% endif %}
  </head>
  <body>
    {% include 'scoping/nav_bar.html' with user=user qid=query.id %}
    <div id="main">
      <div id="graph">
        {% if query.type == "default" %}
          <h1> Scoping Review Helper</h1>
        {% else %}
          <h1> Snowballing Document Review Helper</h1>
        {% endif %}
        <br/>
        <h2> Query Sampler (<a href="/nacsos-legacy/scoping/query/{{query.id}}">Query no. {{query.id}}</a>) - Welcome, {{user.username}}, your progress: </h2>
        <div id="progress"></div>
        <!-- Query manager -->

        <p><a href="/nacsos-legacy/scoping/back_review/{{query.id}}">Back</a>

        <p>Is the document below (one of {{ ndocs }} remaining) relevant?

        <div id="criteria">
          <h4>Inclusion/Exclusion Criteria</h4>
            {{ query.criteria }}
       </div>

       <div id="docbox">
         <h4> {{ title | safe }}</h4>
         <p>{{ doc.wosarticle.so }} ({{ doc.wosarticle.py }}) <a target="_blank" href="http://dx.doi.org/{{ doc.wosarticle.di }}">{{ doc.wosarticle.di}}</a>
         <p style="text-align:left">
           {{ doc.docauthinst }}
           {% for au in authors %}
             <span>{{au.AF}} [{{au.institution}}];</span>
           {% endfor %}
         </p>
         <p style="text-align:left">
           {{ abstract | safe }}
         </p>
       </div>
       <table class="spread" width="100%">
         <tr>
           <td><button onclick="review(1)">Keep</button>  
           <td><button onclick="review(2)">Exclude</button>
         </tr>
       </table>
     </div>
   </div>  
 <script>

var tdocs = {{ tdocs }}
var sdocs = {{ sdocs }}

var width = $("#progress").parent().width()*0.8;
var height = 40

var graph = d3.select("#progress")
    .append("svg")
    .attr("width", width) 
    .attr("height", height);

graph.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "white")
    .style("stroke", "black")
    .style("stroke-width", 2)

xscale = d3.scale.linear()
    .domain([0, tdocs])
    .range([width*0.0, width*1]);

graph.append("rect")
    .attr("width", xscale(sdocs))
    .attr("y", height*0.35)
    .attr("height", height*0.3)
    .style("fill", "steelblue")
    .style("stroke", "grey")
    .style("stroke-width", 1);

tick = tdocs/10
ticks = []
for (i=1;i<10;i++) {
    ticks.push({'pcnt': i*10, 'value': i*tick})
}
console.log(ticks)

graph.selectAll("line")
	.data(ticks)
	.enter()
	.append("line")
    .style("stroke","grey")
    .style("stroke-width",1)
	.attr("x1", function(d) { return xscale(d.value)})
	.attr("x2", function(d) { return xscale(d.value)})
    .attr("y1", 0)
    .attr("y2", height);
    
	
var qid = {{ query.id }}
var docid = "{{ doc.UT }}"
function review(d) {
	console.log(qid)
	console.log(docid)
	$.ajax({
		url: '/nacsos-legacy/scoping/do_review',
		data: {
			'query': qid,
			'doc': docid,
			'd':d
		},
		success: function() {
			location.reload()
		}
	})
}
</script>

</body>
</html>
