{% extends "scoping/base_bs.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<p>
<h2> Document coding: {{ dmc.doc.title }}</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h4>Effects</h4>
        {% if effects %}
            {% for f in effects %}
                <div class="col-sm bg-white border rounded m-2 p-2 flex" id="eff_{{f.id}}">
                    <div><a href="{% url 'scoping:add_effect' dmc.id f.id 1 %}">Effect</a> - {{f.coefficient}} -
                    copy this <a href="{% url 'scoping:add_effect' dmc.id f.id %}"><span class="buttonp" id="reveal_new">v</span></a> <a class="confirmation" href="{% url 'scoping:delete' 'StudyEffect' f.id %}">x</a></div>
                    <div>Add an intervention <a href="{% url 'scoping:add_intervention' f.id %}"<span class="buttonp" id="reveal_new">-></span></a></div>
                </div>
            {% endfor %}
        {% else %}
        <p>No effects are recorded for this study
        {% endif %}
        <p>Add one <a href="{% url 'scoping:add_effect' dmc.id %}"><span class="buttonp" id="reveal_new">+</span></a>
    </div>
    <div class="col-sm">
        <h4>Interventions</h4>
        {% if interventions %}
            {% for f in interventions %}
                <div class="col-sm bg-white border rounded m-2 p-2" id="int_{{f.id}}">
                    <a href="{% url 'scoping:add_intervention' f.effect.id f.id 1 %}">{{f}}</a>
                    <a class="confirmation" href="{% url 'scoping:delete' 'Intervention' f.id %}">x</a>

                </div>
            {% endfor %}
        {% else %}
        <p>No effects are recorded for this study
        {% endif %}
    </div>
  </div>
</div>

<hr>
Done coding?

<div class="container">
    <div class="row">
        {% for d in dests %}
        <div class="col">
            <a href="{% url 'scoping:save_document_code' dmc.id d.0 %}">
            <button class="btn btn-primary" type="button">
                {{d.1}}
            </button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'scoping/js/jquery_connections.js' %}"></script>
<script>
  $(window).on('resize',function() {
      $('connection').remove()
      data = {{connections | safe}}
      console.log(data)
      $.each(data, function(index, value) {
          console.log(value)
          jQuery('#eff_'+value.effect_id).connections({ to: '#int_'+value.id });
      });

      $('.confirmation').on('click', function () {
           return confirm('Are you sure you want to delete this?');
       });
  });
  $(document).ready(function() {
      $(window).trigger('resize')
  });
</script>
{% endblock %}
