{% extends "scoping/base_bs.html" %}
    {% load scoping_extras %}
    {% load render_table from django_tables2 %}
    {% block content %}
      <h1> Scoping Review Helper</h1>


        <!-- Query manager -->
        {% if request.session.appmode != "snowballing" %}
          <h2> Document list associated with query no. <a href="/scoping/query/{{query.id}}">{{query.id}}</a> ({{query.title}}).</h2>
        {% else %}
          <h2> Document list associated with {{query.type}} query no. {{query.id}} and {{query2.type}} query no. {{query2.id}}</a>.</h2>
        {% endif %}
        <!-- <a href="/scoping/download/{{query.id}}">Download</a> these documents as a csv</h2> -->
        <h2></h2><p><a onclick="update_fields(download='true')" id="download">Download</a> these documents as a csv</h2>
        <br/>
        <p><a onclick="update_fields(download='true',ris='true')">Export</a> these documents as a RIS file</h2>
        <!-- <p><a href="{% url 'scoping:export-docs' query.id %}">Export</a> these documents as a RIS file</h2> -->
        <br/>

        <p class="field_container">
        <p class="field_container"><h2>Basic Fields</h2><p class="field_container">
            {% for f in basic_fields %}
                <span class="field_name" data-active="true" name="{{f.path}}">{{ f.name }} <button class="filter btn" onclick="button_filter(event,this)">filter</button></span>,
            {% endfor %}
        <p class="field_container"><h2>Author Fields</h2><p class="field_container">
          {% for f in author_fields %}
              <span class="field_name" data-active="false" name="{{f.path}}">{{ f.name }}</span>,
          {% endfor %}
        <p class="field_container"><h2>Meta Fields</h2><p class="field_container">
          {% for f in wos_fields %}
              <span class="field_name" data-active="false" name="{{f.path}}">{{ f.name }}</span>,
          {% endfor %}
        <p class="field_container"><h2>Extra Fields</h2><p class="field_container">
          {% for f in relevance_fields %}
              <span class="field_name" data-active="false" name="{{f.path}}">{{ f.name }}</span>,
          {% endfor %}
        </p>

        <p style="text-align:left">
          Filter these results...
          <table id="filtertable" class="table">
            <tr>
              <td>
                <input class="f_field" type="text">
              </td>
              <td>
                <select class="f_operator">
                  <option value="icontains">CONTAINS</option>
                  <option value="noticontains">NOT CONTAINS</option>
                  <option value="exact">EQUALS</option>
                  <option value="notexact">NOT EQUALS</option>
                  <option value="gt">IS GREATER THAN</option>
                  <option value="lt">IS LESS THAN</option>
                  <option value="iregex">IREGEX</option>
                </select>
              </td>
              <td>
                <input type="text" class="f_text">
              </td>
              <td>
                <select class="f_join" onchange="join_filter(this)">
                  <option></option>
                  <option>AND</option>
                  <option>OR</option>
                </select>
              </td>
            </tr>
          </table>
          <button id="dofilter">Filter</button>
        </p>
      {% if query.type == "default" %}
        <p style="text-align:left">
          Save this filter as a tag named: <input type="text" id="tag_title"> <button onclick="savetag()">Save</button>
        </p>
      {% endif %}

      {% if request.session.appmode == "snowballing" %}
        <div id="sidebar">
          <a href="/scoping/do_snowballing/{{ query.id }}/{{ query2.id }}"><button type="button">Snowball the selected documents</button></a><br/>
          <a href="/scoping/sbs_setAllQDocsToIrrelevant/{{ query.id }}/{{ query2.id }}/{{ sbsid }}"><button type="button">Discard all documents</button></a><br/>
          <a href=""><button type="button">Allocate documents to other user(s)</button></a><br/>
        </div>
      {% endif %}

        <p style="text-align:left">Showing documents 1-<span id="doc_max">100</span> of <span id="doc_count">{{ ndocs }}</span></p>
        <br/>

        <table class="table" id="doctable" style="width:100%">
             {{ doctable|safe }}
        </table>

      {% if request.session.appmode == "snowballing" %}
        <div><a href="/scoping/do_snowballing/{{ query.id }}/{{ query2.id }}"><button type="button">Snowball the selected documents</button></a></div>
      {% endif %}

      <br/><hr/><br/>
      {% endblock %}

{% block script %}
<script>

var user = $("[name='docownership__{{user.username}}'")

console.log(user)

var qid = {{ query.id }}
{% if q2id %}
    var q2id = {{ query2.id }}
{% else %}
    var q2id = 0
{% endif %}
var qtype = "{{ query.type }}"

console.log(qid)

var fields = ['title','content','PY']

$(".field").data("sortdir","-")

$(".uparrow").click(function() {
    field = $(this).parent()
    console.log(field)
})
$(".downarrow").click(function() {
    field = $(this).parent()
})

$(".sort").click(function() {
    $(this).toggleClass("sort_active")
    update_fields()
})

$(".field_name").click(function() {
    if ($(this).attr("data-active") == "true") {
        $(this).attr("data-active","false")
        $(this).children().remove()
    } else {
        $(this).attr("data-active","true")
        $(this).append(' <button class="filter btn" onclick="button_filter(event,this)">filter</button>')
    }
    update_fields()
})

$("#dofilter").click(function( ) {
    update_fields();
})

function savetag() {
    tag_title=$("#tag_title").val()
    var fields = []
    $(".f_field").each(function(){
        fields.push($(this).val())
    })
    var operators = []
    $(".f_operator").each(function(){
        operators.push($(this).val())
    })
    var text = []
    $(".f_text").each(function(){
        text.push($(this).val())
    })
    var joins = []
    $(".f_join").each(function(){
        joins.push($(this).val())
    })
    $.ajax({
        url: '/scoping/sort_docs',
        data: {
            'qid': qid,
            'q2id': q2id,
            'f_fields': fields,
            'f_operators': operators,
            'f_text': text,
            'f_join': joins,
            'tag_title': tag_title
        },
        success: function(data) {
            console.log(data)
            alert("filter saved")
        }
    })
}

function button_filter(event, element) {
    event.stopPropagation();
    var field = $(element).parent()
    $(".f_field").each(function(){
        if ($(this).val()=="") {
            $(this).val(field.attr('name'))
            return false;
        }
    })
}

function join_filter(element) {
    if ($(element).val() != "") {
        table = $("#filtertable")
        table.append(

'<tr><td><input class="f_field" type="text"></td><td><select class="f_operator"><option value="icontains">CONTAINS</option><option value="noticontains">NOT CONTAINS</option><option value="exact">EQUALS</option><option value="notexact">NOT EQUALS</option><option value="gt">IS GREATER THAN</option><option value="lt">IS LESS THAN</option><option value="iregex">IREGEX</option></select></td><td><input type="text" class="f_text"></td><td><select class="f_join" onchange="join_filter(this)"><option></option><option>AND</option><option>OR</option></select></td></tr>'
        )
    }
}

function update_fields(download="false",ris="false") {
    console.log(download)

    $('body').toggleClass('waiting');
    // get arrays of all the filter columns
    var fields = []
    $(".f_field").each(function(){
        fields.push($(this).val())
    })
    var operators = []
    $(".f_operator").each(function(){
        operators.push($(this).val())
    })
    var text = []
    $(".f_text").each(function(){
        text.push($(this).val())
    })
    var joins = []
    $(".f_join").each(function(){
        joins.push($(this).val())
    })
    var sortfields = [];
    var sortdirs = [];
    $(".sort_active").each(function() {
 	n = $(this).parent().attr('name')
	if ($(this).hasClass("uparrow")) {
	    dir = "+"
	} else {
	    dir = "-"
	}
	sortfields.push(n)
	sortdirs.push(dir)
    })
    var active_field_paths = [];
    var active_field_names = [];
    $('*[data-active="true"]').map(function(){
        active_field_paths.push($(this).attr('name'));
        active_field_names.push($(this).contents().get(0).nodeValue);
    });
    function url_args(url,name,arr) {
        for (var j=0;j<arr.length;j++) {
            url += '&'+name+'[]='+arr[j]
        }
        return url
    }
    if (download=="true") {
        url = '/scoping/sort_docs?'
        url += 'qid='+qid
        url += '&q2id='+q2id
        var names = ['fields','f_fields','f_operators','join','sort_fields','sort_dirs','f_text']
        var arrs = [active_field_paths, fields, operators, joins, sortfields, sortdirs, text]
        for (var i=0;i<arrs.length;i++) {
            console.log(i)
            url = url_args(url,names[i],arrs[i])
        }
        url += '&download='+download
        if (ris=="true") { url += '&ris='+ris }
        window.location=url
    } else {

        $.ajax({
            url: '/scoping/sort_docs',
            data: {
                'qid': qid,
                'q2id': q2id,
                'fields': active_field_paths,
                'f_fields': fields,
                'f_operators': operators,
                'f_text': text,
                'f_join': joins,
                'sort_fields': sortfields,
	            'sort_dirs': sortdirs,
                'download': download
            },
            success: function(data) {

                var n_docs = data.n_docs
                $("#doc_count").text(n_docs)
                if (n_docs < 100) {
                  $("#doc_max").text(n_docs)
                }
                data = data.data
                console.log(data)
                nfields = active_field_paths.length
                console.log(data.length)
                $("table#doctable tr:first").html("")
                $("table#doctable tr:not(:first)").html("")
                for (f=0;f<active_field_paths.length;f++) {
                    fpath = active_field_paths[f]
                    fname = active_field_names[f]
		            i = sortfields.indexOf(fpath)
		            up = ""
		            down = ""
		            if (i > -1) {
              		    console.log(sortdirs[i])
		                if (sortdirs[i]=="+") {
		                    up = "sort_active"
		                } else {
		                    down = "sort_active"
		                }
		            }
                    $("table#doctable tr:first").append('<td class="field" name="'+fpath+'">'+fname+' <span class="uparrow sort '+ up +'">&uarr;</span><span class="downarrow sort '+ down +'">&darr;</span></td>');
                    $("table#doctable tr:not(:first)").append('<td class="data">');
                }

                fields.push(fname.replace(".","__"))
                $(".data").each(function( i ) {
                    r = Math.floor(i/nfields)
                    c = i % nfields
                    f = active_field_paths[c]
                    if (r >= n_docs | r>=100) {
                        var text = ""
                    } else {
                        var text = data[r][f]
                    }
                    $(this).html(text)
                })
                $(".field").data("sortdir","-")

       	    $(".sort").click(function() {
	            $(this).toggleClass("sort_active")
		        update_fields()
		    })

                /* SBS exclude column
                if (qtype != "default") {
                  $("table.light tr:first").append('<td class="field" name="sbsexclude">Exclude</td>');
                  $("table.light tr:not(:first)").append('<td class="data"><a href=""><button type="button">Exclude</button></a></td>');
                }
                */
	        $('body').toggleClass('waiting');
            }
        })
    }
}

function cyclescore(el) {
    console.log(el)
    var el = $(el)
    var data = {}

    data['score'] = parseInt(el.val())

    console.log(data['score'])
    data['doc_id'] = el.attr("data-id")
    data['tag'] = parseInt(el.attr("data-tag"))
    data['user'] = parseInt(el.attr("data-user"))
    data['qid'] = qid
    data['q2id'] = q2id


    $('body').toggleClass('waiting');
    $.ajax({
        url: '/scoping/cycle_score',
	data: data    /*,
	success: function() {
	    update_fields()
	    $('body').toggleClass('waiting');
	}
        */
    })

}

// For snowballing queries add user (creator) field
if (qtype != "default") {
  user.click()
}

/*
$(function() {
  var offset = $("#sidebar").offset();
  var topPadding = 15;
  $(window).scroll(function() {
    if ($(window).scrollTop() > offset.top) {
      $("#sidebar").stop().animate({
        marginTop: $(window).scrollTop() - offset.top + topPadding
      });
    } else {
      $("#sidebar").stop().animate({
        marginTop: 0
      });
    };
  });
});
*/
</script>
{% endblock %}
