{% extends "scoping/base.html" %}
{% block content %}
<h1>NETS Systematic Review Project</h1>
<br>
<div class="explanation">
<h2> Manual Document upload</h2>
<p> Welcome, {{em.initial}}. {{em.sname}}, Please enter the details of any relevant papers on negative
  emissions that were not present in
  the email you received.
<p>Thank you for contributing to our project.
<p>If you have any questions, please send an email to nets [at] mcc-berlin.net
{% if author_docs %}
<p>You have already added the following documents:
    <ut>
        {% for d in author_docs %}
            <li>{{d.title}}
        {% endfor %}
{% endif %}
</div>
<form action="{% url 'scoping:do_add_doc' em.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="qid" value="{{query.id}}"></input>
<table>


<td width=50%>
<div class="addbox">
<h2>Mandatory Basic Information</h2>
<p>Enter some basic information about the document
<p>
<table>
    {% for f in basic_fields %}
        <tr>
            <td></b> {{f.name}} ({{f.note}})
            <td>
                {% ifequal f.path "PY" %}
                <input type="number" name="{{f.path}}"/>
                {% else %}
                <textarea data-mandatory="true" name={{f.path}} rows=2 cols=25>
                </textarea>
                {% endifequal %}

    {% endfor %}
</table>
</div>
<p>
<br>
<div class="addbox">
  <h2>Technology Selection</h2>
  <p> Please use the drop-down below to select the appropriate technology to which
    your document is relevant. Once you have filled out all fields, you may press
    the "Add Document" button below.
<select id="tech" class="tech" name="technology" data-query="{{query.id}}" autocomplete="off">
{% if not query.technology %}
<option selected value="None">{{query.technology}}</option>
{% else %}
<option value="None">None</option>
{% endif %}
{% for t in techs %}
    {% if t == query.technology %}
    <option selected value={{t.id}}>{{t.name}}</option>
    {% else %}
    <option value={{t.id}}>{{t.name}}</option>
    {% endif %}
{% endfor %}
</select>
<input type='hidden' id="techname" name="tech" value=""/>
<input id='addbutton' type="submit" class="addbutton" value="Add Document" disabled/>
</div>


<td width=50%>
<div class="addbox">
<h2>Mandatory Author Information</h2>
<p>Enter at least 1 author for the document. As you enter authors, more boxes will
  appear. If the document has no author, enter the institution name.
<p>
<table>
    {% for f in author_fields %}
        <tr>
            <td></b> {{f.name}}
            {% if f.name == 'Author 1' %}
                <td><textarea data-mandatory="true" data-author="true" name={{f.path}} rows=2 cols=25>
            {% else %}
                <td><textarea name={{f.path}} data-author="true"  rows=2 cols=25>
            {% endif %}
            </textarea>
    {% endfor %}
</table>
</div>
</form>

{% endblock %}

{% block script %}

<script type="text/javascript" language="javascript">

if ({{r}}>0) {
    alert("Thank you for adding your document! If you have more to add, please keep adding in the same way")
}


$("#navigation").addClass("hidden")

$(function() {
      $("#tech").change(function(){
        var v= $('option:selected', this).attr('value');
      $('#techname').val(v);
   });
});

function check() {
    empty = false
    $('*[data-mandatory="true"]').map(function(){
       if ($(this).val().trim() =="") {empty = true};
    });
    PY = $($('input[name=PY]')).val().trim()
    if (isNaN(PY)) {
        empty = false
    }
    if (empty==false) {
        $("#addbutton").prop("disabled", false)
    } else {
        $("#addbutton").prop("disabled", true)
    }
}

function checkauthor() {
  hidden = false
  console.log("checkingauthor")
  $('*[data-author="true"]').each(function(index){
    if (hidden==true) {
      $(this).parent().parent().addClass('hidden')
    } else {
      $(this).parent().parent().removeClass('hidden')
    }
    if ($(this).val().trim() =="") {hidden = true};
  })
}

$('*[data-mandatory="true"]').change(function(){
    check()
})
$('*[data-author="true"]').change(function(){
    checkauthor()
})

check()
checkauthor()
</script>
{% endblock %}
