{% extends "scoping/base.html" %}
{% block content %}
<h1>{{project.title}} Systematic Review Project</h1>
<h2>Manual Document upload</h2>
<br>

<div class="explanation" style="width:100%; text-align:left; overflow:hidden">
  <div style="width=100%; overflow: hidden; border=0px; margin:0px; padding:0px">
    <div id="readme_title" style="width:70%; float:left; border=0px; margin:0px; padding:0px"><h2 style="color:orange; font-size:1.3em">Read-me first</h2></div>
    <!-- <div style="width:30%; float:right; overflow:hidden; text-align: right; border=0px; margin:0px; padding:0px"><button id="readme_button" style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">hide</button></div> -->
  </div>
  <div id="readme_div" style="color:#555555">
    <p>Welcome <b>{{em.initial}} {{em.sname}}!</b></p>
    <p>Please use the form below to enter the details of any relevant papers on
        negative emissions that were not present in the email you received.</p>
    <p>The document entry process is split into 4 steps for efficiency purposes
        and should take less than a minute per document.</p>
    <ol>
      <li>In step 1 <i>(Basic information)</i>, the user may provide the type
          of document and an optional url (i.e. a link to the web page of the
          document). If a document with the same url has already been added,
          the remaining fields will be automatically filled with the existing
          information.
      <li>In step 2 <i>(Further information)</i>, the user is invited to enter
          further information including title, abstract, publishing year</li>
      <li>In step 3 <i>(Author(s))</i>, the user can provide a list of authors</li>
      <li>Step 4 <i>(Optional information)</i> is optional and allows the
          user to classify the document by NET and upload a pdf of the document.</li>
    </ol>
    <p>Thank you for contributing to our project.</p>
    <p>If you have any questions, please send an email to nets [at] mcc-berlin.net</p>
  </div>
</div>

<br/>

<!-- Wrapper -->
<div style="width=100%; overflow: hidden; margin:0px; padding:0px">

<div style="width: 70%; float:left; border: 3px solid #FFE5CC; background: #ffffff; margin:5px; padding:10px">
<h2 style="color:orange; font-size:1.3em; text-align: left;">Form to add a document</h2>

<!-- Steps bar -->
<div style="border: 0px solid orange; border-radius:40px; background: #f9cc7a; text-align: left;">
<ul class="inline-list">
  <li><strong><i>Steps</i></strong></li>
  <li>1. Basic info. ></li>
  {% if f2 %}
    <li>2. Further info. ></li>
  {% else %}
    <li class="None">2. Further info. ></li>
  {% endif %}
  {% if afs.0 %}
    <li>3. Author(s) info. ></li>
  {% else %}
    <li class="None">3. Author(s) info. ></li>
  {% endif %}
  {% if uf %}
    <li >4. Optional info.</li>
  {% else %}
    <li class="None">4. Optional info.</li>
  {% endif %}
</ul>
</div>

<!-- Notification message -->
{% if afs.1 %}
<h3>
  <span class="highlight">Thank you, document successfully added.
    <a href="{% url 'scoping:add_doc_form' em.id %}">Add another</a>
  </span>
</h3>
{% endif %}

<!-- Table of forms -->
<table width="100%">
  <!-- Table row with basic information-->
  <tr width="100%" style="border: 0px solid orange; ">
    <td width="100%" colspan=2 valign="top">
    <!-- Basic information (i.e. DT, url) -->
    {% if ndf %}
      <div class="addbox">
        <h2 style="color:black;">1. Basic Information</h2>
        <form method="POST" class="post-form">{% csrf_token %}
          {{ ndf.as_p }}
          <button type="submit" class="save btn btn-default" style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">{{ndf.action}}</button>
        </form>
      </div>
    {% endif %}
    </td>
  </tr>

  <!-- Table row with additional information (e.g. title, abstract, PY ...) and author(s) -->
  <tr width="100%">
    <td width="50%" valign="top">
      {% if f2 %}
      <div class="addbox {{f2.action}}">
        <h2 style="color:black;">2. Further Information</h2>
        <table>
          <form method="POST" class="post-form">{% csrf_token %}
            {{ f2.as_table }}
            <tr><td colspan=2><button type="submit" class="save btn btn-default"  style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">{{f2.action}}</button></td></tr>
          </form>
        </table>
      </div>
      {% endif %}
    </td>

    <!-- Author(s) -->
    <td width="50%" valign="top">
      {% if afs.0 %}
      <div class="addbox">
        <h2 style="color:black;">3. Authors</h2>
        <p>Please add at least one author.
        {% for af in afs %}
        {% if af %}
        <div class="authorForm {{af.action}}">
          <h3>Author {{af.i}} {% if af.au %}- {{af.au}}{% endif %}</h3>
          <table>
            <tr>
              <form method="POST" class="post-form">{% csrf_token %}
                <td width="70%">
                  {{af.as_p}}
                </td>
                <td style="vertical-align:middle;" width="30%">
                  <button type="submit" class="save btn btn-default"  style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">{{af.action}}</button>
                </td>
              </form>
            </tr>
          </table>
        </div>
        {% endif %}
        {% endfor %}
        <p>
        <button id="addAnother"  style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">Add Another</button>
      </div>
    </td>
  </tr>

  <!-- Table row with technology selection and PDF upload -->

  <tr width="100%">
    <td width="50%" valign="top">
      {% if techs %}
    <!-- Technology selection (optional) -->
      <div class="addbox">
        <h2 style="color:black;">4.1. Technology Selection (optional)</h2>
        <p> Please select any appropriate technologies to which your document is relevant.<p>
        <form method="POST" class="post-form">{% csrf_token %}
          <b>Technology</b><br>
          <ul>
          {% for t in techs %}
            <li>{{t.name}} <input value="{{t.id}}" type="checkbox"
              {% if t in doctechs %}
                checked
              {% endif %}
                name="technology[]"></li>
          {% endfor %}
          </ul>
          <input type='hidden' id="techname" name="tech" value=""/>
          <button type="submit" class="addbutton"  style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">Save Techs</button>
        </form>
      </div>
      {% endif %}
    </td>


    <td width="50%" valign="top">
    <!-- PDF upload (optional) -->
    {% if uf %}
      <p>
      <div class="addbox {{uf.action}}">
        <h2 style="color:black;">4.2. PDF upload (optional)</h2>
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
          {{ uf.as_p }}
          {{ uf.filename }}
          <button type="submit" class="save btn btn-default"  style="border:solid orange 3px; border-radius: 20px; background:orange; color: white; font-weight: bolder;">{{uf.action}}</button>
        </form>
      </div>
    {% endif %}
    </td>
  </tr>

{% endif %}
</table>
</div>

<div style="background: #ffffff; border: 3px solid #FFE5CC; overflow: hidden; text-align:left; margin:5px; padding:10px">
<!-- List of docs -->
{% if author_docs %}
<h2 style="color:orange; font-size:1.3em">Documents added</h2>
<ol>
  {% for d in author_docs %}
    <li>{{d.title}}</li>
  {% endfor %}
</ol>
{% endif %}
</div>

</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
{% if em.user %}
{% else %}
    $("#navigation").remove()
{% endif %}

$("#addAnother").on("click",function(){
    $(".authorForm.Add").show()
    $(this).hide()
})
if ($(".authorForm.Update").length==0) $(".authorForm.Add").show()


$('#readme_button').on('click', function(){
    $("#readme_div").toggle();
    $("#readme_title").toggle();
    if ($.trim($(this).text()) === 'show readme') {
        $(this).text('hide');
    } else {
        $(this).text('show readme');
    }
    //$(this).toggleClass('class1')
})


</script>
{% endblock %}
