{% extends "scoping/base_bs.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block content %}

<h1> Scoping Review Helper</h1>
<hr>

<div class="container bg-white border rounded ">
    <h2> Meta-analysis setup - {{project.title}}</h2>
    Use this page to
    <ul>
        <li>Assign documents to be coded</li>
        <li>define the options in dropdown fields for the <a href="#effect">effect</a> form, and for the <a href="#intervention">intervention</a> form</li>

</div>

<h4> Assignments</h4>

{{ doc_counts.assignments }}

<h4> Coded documents</h4>

{{ doc_counts.codings}}



<br>
<h4 id="effect">Effect fields</h4>
{% include 'scoping/snippets/meta_fields.html' with fields=sfields %}

<h4 id="intervention">Intervention fields</h4>
{% include 'scoping/snippets/meta_fields.html' with fields=ifields %}


<div class="container">
    <div class="row">
        <h4 id="controls">Controls</h4>
    </div>
    <div class="row">
        <div class="col-sm extra-high">
            {% for intervention in controls %}
                <span class="border rounded bg-white p-2">{{intervention.name}} <a class="confirmation" href="{% url 'scoping:delete' 'Controls' intervention.id %}">x</a></span>

            {% endfor %}
        </div>
        <div class="col-6">
            <form method="POST" class="form-inline">{% csrf_token %}
                {% bootstrap_form  controls_form layout='inline' %}
                {% bootstrap_button 'Save' %}
            </form>
        </div>
    </div>
    <div class="row">
        <h4 id="Interventiontype">Intervention Types</h4>
    </div>
    <div class="row">
        <div class="col-sm">
            Intervention Types
        </div>
        <div class="col-sm extra-high">
            {% for intervention in intervention_types %}
                <span class="border rounded bg-white p-2">{{intervention.name}} <a class="confirmation" href="{% url 'scoping:delete' 'InterventionType' intervention.id %}">x</a></span>

            {% endfor %}
        </div>
        <div class="col-6">
            <form method="POST" class="form-inline">{% csrf_token %}
                {% bootstrap_form  interventiontype_form layout='inline' %}
                {% bootstrap_button 'Save' %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Intervention Sub-types
        </div>
        <div class="col-sm extra-high">
            {% for intervention in intervention_subtypes %}
                <span class="border rounded bg-white p-2">{{intervention.name}} <a class="confirmation" href="{% url 'scoping:delete' 'InterventionType' intervention.id %}">x</a></span>

            {% endfor %}
        </div>
        <div class="col-6">
            <form method="POST" class="form-inline">{% csrf_token %}
                {% bootstrap_form  interventionsubtype_form layout='inline' %}
                {% bootstrap_button 'Save' %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$('.confirmation').on('click', function () {
     return confirm('Are you sure you want to delete? This will have repurcussions on other things attached to it!');
 });
</script>
{% endblock %}
