<div id="navigation">
  <hr noshade/>
  <table>
    <tr>
      <td class="linked"><a href="/scoping/technologies">Technologies</a></td>
      <td class="linked"><a href="/scoping/">Queries</a></td>
      <td class="linked"><a href="/scoping/snowball">Snowballing</a></td>
      <td class="linked"><a href="/scoping/user">{{user}}</a></td>
      <td class="linked"><a href="/scoping/docs/{{qid}}">Documents</a></td>
      <td class="linked"><a href="/scoping/check/{{qid}}">Check Sample</a></td>
      <td class="linked"><a href="/scoping/review/{{qid}}/0">Review</a></td>
      <td></td>
<!--
      <td class="navtext">Browse&nbsp;&#x25B8;</td>
        <td class="linked"><a>Topics</a>
          <ul>
            <li><a href="/tmv_app/topic_presence">Relative Presence</a></li>
            <li><a href="/tmv_app/topic/random">Random Topic</a></li>
          </ul>
        </td>
        <td class="linked"><a>Documents</a>
          <ul>
            <li><a href="/tmv_app/doc/random">Random Document</a></li>
          </ul>
        </td>
        <td class="linked"><a>Terms</a>
          <ul>
            <li><a href="/tmv_app/term/random">Random Term</a></li>
           </ul>
        </td>
        <td class="linked"><a>About</a>
          <ul>
            <li><a href="/tmv_app/stats">Stats</a></li>
          </ul>
        </td>
		<td>{{user}}
    </td>
    <td></td>
-->
    </tr>
  </table>
</div>
