<div id="navigation">

  <table>
    <tr>
        {% if request.session.appmode == 'snowballing' %}
          <td class="linked"><a href="/scoping/snowball">Start snowballing</a></td>
          <td class="linked"><a href="/scoping/user">My snowballing sessions</a></td>
          <td class="linked"><a href="/scoping/docs/{{qid}}">Select documents</a></td>
          <td class="linked"><a href="/scoping/docssbs/{{sbsid}}">See all documents</a></td>
          <td></td>
          <td><a href="/scoping/switchmode"><div style="color:#4d00ee;"><b><i>&gt; Switch to Scoping mode &lt;</i></b></div></a></td>

          {% else %}
          <td class="linked"><a href="{% url 'scoping:index' %}">Home</a></td>
          {% if project %}
              <td class="linked"><a href="{% url 'scoping:categories' project.id %}">Categories</a></td>
              <td class="linked"><a href="{% url 'scoping:queries' project.id %}">Queries</a></td>
              <td class="linked"><a href="{% url 'scoping:userpage' project.id %}">{{user}}</a></td>
              {% if qid %}
                  <td class="linked"><a href="{% url 'scoping:doclist' project.id qid %}">Documents</a></td>
              {% endif %}
              <td class="linked"><a href="{% url 'scoping:manual_add_doc_form' project.id %}">Add Reference Manually</a></td>
          {% endif %}

          <td></td>
          <!-- <td><a href="/scoping/switchmode"><div style="color:#ee4d00;"><b><i>&gt; Switch to Snowballing mode &lt;</i></b></div></a></td> -->


        {% endif %}
    </tr>
  </table>
</div>
