{% extends "scoping/base.html" %}

{% load render_table from django_tables2 %}

{% block content %}

{% ifequal admin "true" %}

<h1> Scoping Review Helper</h1>
<br>
<h2> Homepage </h2>
<br>



<div class="explanation">
    <h3> View <a href="{% url 'scoping:queries' project.id%}">Queries</a> for project: {{ project.title }} </h3>
    <h3> View <a href="{% url 'tmv_app:runs' project.id%}">Topic Models</a>
        for project: {{ project.title }} </h3>

    <h3> Edit user roles for project {{ project.title }} </h3>
<table>
{% for u in projectUsers %}
    <tr>
    <td>
        <form method="POST" class="post-form">{% csrf_token %}
        {{ u.f.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <td><b>Queries</b>: {{u.queries}}
            <br><b>Ratings</b>: {{u.ratings}}

    </form>

{% endfor %}
</table>

<h3> Add new users to the project </h3>
<form method="POST" class="post-form">{% csrf_token %}
{{ newRole.as_p }}
<button type="submit" class="save btn btn-default">Save</button>
</form>

<h3>Delete this project?</h3><span class="buttonp" id="delete">-</span>

<form id="deleteForm" class="{{delete}}" method="POST" class="post-form">
    {% csrf_token %}
{{ deleteForm.as_p }}
<button type="submit" class="save btn btn-default">Delete</button>
</form>

</div>

{% endifequal %}



{% endblock %}

{% block script %}

<script type="text/JavaScript">

    $("#delete").click( function() {
        $("#deleteForm").toggleClass("hidden")
    })

</script>

{% endblock %}
