{% extends "scoping/base_bs.html" %}

{% load render_table from django_tables2 %}

{% block content %}

<h1> Scoping Review Helper</h1>
<br>
<h2> Homepage </h2>
<br>



<div class="explanation">

    <div class="alert alert-primary" role="alert">Attention: The topic modeling database is currently busy recovering lost data - new topic models might take some time to calculate</h2>
    </div>


    <h3> View topic models for the query <i>{{ query.title }}</i> </h3>

    <p>

    {% render_table table %}

    <p>
        <br>
        Create a new topic model: <a href="{% url 'scoping:query_tm' query.id %}">here</a>

</div>








{% endblock %}
