<html>
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Scoping</title>
    <link href="{% static 'scoping/css/styling.css' %}" rel="stylesheet" type="text/css">
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.4.4.js"></script>
    <style>
.ltext {
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
  }

  .ltext:hover {
    max-width : 200px;
    white-space: normal;
  }
    </style>
  </head>
  <body>
    {% include 'scoping/nav_bar.html' with user=user qid=query.id%}
    <div id="main">
      <div id="graph">
        <h1> Scoping Review Helper</h1>
        <br/>

        <!-- Query manager -->
        <div class="explanation">

          <h2> Query manager </h2>
          <p>Use the buttons below to filter queries by user and technology.
             New queries can be made at the bottom of the page.</p>
          <br/>
          <p id="field_container">
          {% for u in users %}
              {% if u == user %}
                <span class="field_name active" name="{{u.username}}">{{ u.username }}</span>
              {% else %}
                <span class="field_name" name="{{u.username}}">{{ u.username }}</span>
              {% endif %}
          {% endfor %}
          </p>

          <p id="field_container">
            <span class="field_name active" name="None">None</span>
            {% for t in techs %}
              <span class="field_name active" name="{{t.name}}">{{ t.name }}</span>
            {% endfor %}
          </p>
        </div>

        <p>

          <table class="light" style="width:100%">

	    <tr class="title">
	      <td>ID</td>
              <td>Created by</td>
              <td>Title</td>
	      <td>Text</td>
	      <td>Date</td>
        <td>Documents</td>
        <td>Technology</td>
        {% if extended %}
          <td>Innovation</td>
        {% endif %}
        <td>Delete</td>
            </tr>
            {% for query in queries %}
                {% if query.creator in active_users %}
                  <tr data-name="{{query.creator}}"  data-tech="{{query.tech}}">
                {% else %}
                  <tr class="hidden" data-name="{{query.creator}}" data-tech="{{query.tech}}">
                {% endif %}
                    <td><a href="query/{{query.id}}">{{ query.id }}</a></td>
                    <td>{{ query.creator }}</td>
                    <td>{{ query.title }}</td>
	 	    <td class="ltext">{{ query.text }}</td>
		    <td>{{ query.date }}</td>
                    {% if query.r_count > 0 %}
                      <td><a href="{% url 'scoping:doclist' query.project.id query.id %}">{{ query.r_count }}</a></td>
                    {% else %}
                      <td><a href="querying/{{query.id}}/0/0">View progress</a></td>
                    {% endif %}
                    <td>
                      <select class="qtag" data-thing="Technology" data-query="{{query.id}}" autocomplete="off">
                        {% if not query.technology %}
                        <option selected value="None">{{query.technology}}</option>
                        {% else %}
                        <option value="None">None</option>
                        {% endif %}
                        {% for t in techs %}
                            {% if t == query.technology %}
                            <option selected value={{t.id}}>{{t.name}}</option>
                            {% else %}
                            <option value={{t.id}}>{{t.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                {% if extended %}
                <td>
                  <select class="qtag" data-thing="Innovation" data-query="{{query.id}}" autocomplete="off">
                    {% if not query.innovation %}
                    <option selected value="None">{{query.innovation}}</option>
                    {% else %}
                    <option value="None">None</option>
                    {% endif %}
                    {% for i in innovations %}
                        {% if i == query.innovation %}
                        <option selected value={{i.id}}>{{i.name}}</option>
                        {% else %}
                        <option value={{i.id}}>{{i.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
                {% endif %}
                <td><a href="{% url 'scoping:delete' 'Query' query.id %}">
                    <button onclick="return confirm('Are you sure you would like to delete this query?');">Delete</button>
                </a></td>
		    </tr>

		{% endfor %}

</table>

<br/><hr/><br/>

<!-- This gets new queries -->

<div class="explanation">
<h2> Query Getter </h2>

<p>
Use this form to submit a new query, which will be run in the background. Be aware that queries of external databases may take some time, and involve scraping outside websites and downloading large amounts of information.
<p>It is recommended that you develop a query at the external page (<a href="http://apps.webofknowledge.com/WOS_AdvancedSearch_input.do?SID=3CWPGcaiOusPROlzkHF&product=WOS&search_mode=AdvancedSearch">Web of Science</a> or <a href="https://www.scopus.com/search/form.uri?display=advanced">Scopus</a>). When you enter it here, the server will type it into the box on the relevant page, download bibliographic information about all results, and upload them to the server where they can be analysed in more detail.
<p>Note that larger queries (more than 2000 results in any single year) cannot currently be carried out in Scopus.
<p>Choose the source "internal" to compare and combine two existing queries, identified by their IDs, using the operators "NOT" and "AND"; e.g. "36 AND 42", or "42 NOT 36".
</p>
<form action="{% url 'scoping:doquery' project.id %}" method="post">
  {% csrf_token %}

  <h4> Query Title </h4>
  <input type="text" name="qtitle"></input>

  <input type="hidden" name="qtype" value="default"></input>

  <h4> Query Source </h4>


    <select name="qdb">
        <option value="WoS">Web of Science</option>
        <option value="scopus">Scopus</option>
        <option value="intern">Internal</option>
    </select>

  <h4> Query Text </h4>
  <textarea rows=3 cols=50 name="qtext"></textarea>
  <br/><br/>

  <input type="submit" value="Search Query" />
</form>
</div>
<p>
</div>
</div>
</body>

<script>

$(".field_name").click(function() {
    user = $(this).attr('name')
    $(this).toggleClass('active')
    $('*[data-name="'+user+'"]').toggleClass('hidden')
    $('*[data-tech="'+user+'"]').toggleClass('thidden')
    console.log(user)
})



$(".qtag").change(function() {
    thing = $(this).attr("data-thing")
    query = $(this).attr("data-query")
    value = $(this).val()

    $.ajax({
        url: "{% url 'scoping:update_thing' %}",
        data: {
            'thing1': "Query",
            'id1': query,
            'thing2': thing,
            'id2': value,
            'method': "update"
        },
        success: function(data) {
        }
    })
})

</script>

</html>
