{% extends "scoping/base.html" %}

{% load render_table from django_tables2 %}

{% block content %}

<h1> Scoping Review Helper</h1>
<br>
<h2> Homepage </h2>
<br>



<div class="explanation">

    <h3> Create a new topic model for the query {{ query.title }} </h3>

    <p> This form sets up a NMF model using the code from
        <a href="http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.NMF.html">
            Scikit-learn</a>. Follow the link for more information about
            each of the parameters.

            <form action="" method="post">


            {% csrf_token %}
            <table>
                <td width="50%">
                <!-- {{ form }} -->
                <p class="formheader">Document and Text filtering:
                </p>
                {% include "scoping/snippets/form_table.html" with form=form fields=fields_1 %}
            <td width="50%">
                <p class="formheader">Model Parameters:
                </p>
                {% include "scoping/snippets/form_table.html" with form=form fields=fields_2 %}
        </table>
        </table>
            <input type="submit" value="Submit" />
            </form>




</div>


{% endblock %}
