<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="{% static 'tmv_app/js/d3.v3.min.js' %}"></script>
        <script language="JavaScript" src="https://code.jquery.com/jquery-1.4.4.js"></script>
        <title>Scoping</title>
        {% if query.type == "default" %}
          <link href="{% static 'scoping/css/styling.css' %}" rel="stylesheet" type="text/css">
        {% else %}
          <link href="{% static 'scoping/css/stylingsbs.css' %}" rel="stylesheet" type="text/css">
        {% endif %}
    </head>
    <body>

        {% include 'scoping/nav_bar.html' with user=user qid=query.id project=project %}
        <div id="main">
            <div id="graph">

              <h1> Scoping Review Helper</h1>

                <br/>

                <!-- Query manager -->
                  <h2> Query Progress </h2>
                {% if log %}

                      <br/>
                        (Refresh page to update progress)
                      <br/><br/>

                      <div id="logbox">
                        {% for l in log %}
                            {{l}}<br>
                        {% endfor %}
                      </div>
                {% endif %}

                <br/>
                {% if finished %}
<!-- Scoping review -->
                    <p>Looks like it's done!</p>
                    {% if doclength == 0 %}
                        <p id="doc_adder1">{{doclength}} of these documents are in the database. Would you like to add them now?
                        <br/>
                        <a href="{% url 'scoping:dodocadd' query.id %}"><button>Add Documents</button></a>
                    {% else %}
                        <p><a href="{% url 'scoping:doclist' query.project.id query.id %}">View the documents</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </body>
</html>
