{% extends "scoping/base_bs.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<br>
<h1> Scoping Review Helper</h1>


<div class="container ">
    <br>
    <h4> Query Sampler (<a href="{% url 'scoping:query' tag.query.id %}">Query no. {{tag.query.id}}</a>) - Welcome, {{user.username}}, your progress: </h4>

    <div class="progress m-5 position-sticky">
      <div class="progress-bar" role="progressbar" style="width: {{pc}}%;" aria-valuenow="{{pc}}" aria-valuemin="0" aria-valuemax="100">{{pc}}%</div>
    </div>


</div>

<div class="row">
<div class="col-3"></div>
<div class="border rounded bg-white p-4 col-6 m-2 position-sticky sticky-top">
    <h4>Query criteria</h4>
    {{tag.query.criteria |safe }}
</div>
</div>

<div class="row">

    <div class="col-3">
        {% for note in notes %}
        <div class="border rounded bg-white my-3 p-2 note">
          <p class="notedesc"><b>{{note.date}}, {{note.user.username}} wrote...</b>
          <hr>
          {{note.text}}
          <hr>
          <a href="{% url 'scoping:delete' thing='Note' thingid=note.pk %}">Delete
          </a>
        </div>
        {% endfor %}
    </div>
    <div class="col-6">
    {% include "scoping/snippets/doc_info.html" with query=dmc.query %}
    </div>
    <div class="col-3">

        <div class="border rounded bg-white my-3 p-2">
           {% csrf_token %}
           <p class="lead">Is this document relevant according the criteria shown? (Click buttons or use number keys)</p>
           <hr>
              <a id="r-1" href="{% url 'scoping:rate_doc' tag.id ctype do.id pos todo 1 %}"<label class="btn btn-secondary m-1">Yes (1)</label></a>
              <a id="r-2" href="{% url 'scoping:rate_doc' tag.id ctype do.id pos todo 2 %}"<label class="btn btn-secondary m-1">No (2)</label></a>
              <a id="r-3" href="{% url 'scoping:rate_doc' tag.id ctype do.id pos todo 3 %}"<label class="btn btn-secondary m-1">Maybe (3)</label></a>
            <!-- </div> -->
        </div>
        <br>
        <div class="border rounded bg-white my-3 p-2">
            Add a note to this paragraph
            <hr>
            <form action="{% url 'scoping:add_note' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <input type="hidden" name="docn" value="{{do.doc.id}}"></input>
              <input type="hidden" name="tag" value="{{tag.id}}"></input>
            <textarea class="form-control" name="note" rows=3>
            </textarea>
            <br>
            <p>
            <button type="submit" class="btn btn-primary">Add note</button>
            </form>
        </div>

    </div>

</div>

{% endblock %}

{% block script %}

<script type="text/javascript">


function review(d) {
	url = $("#r-"+d).attr("href")
    console.log(url)
    window.location.href = url
}

$(document).keydown(function(e){
    if (e.keyCode == 49) {
        review("1")
    }
    if (e.keyCode == 50) {
        review("2")
    }
    if (e.keyCode == 51) {
        review("3")
    }
});


</script>

{% endblock %}
