{% extends "scoping/base_bs.html" %}
{% load bootstrap4 %}

{% block content %}


<br>
<h1> Scoping Review Helper</h1>
<br>
<h2> Query Sampler (<a href="{% url 'scoping:query' tag.query.id %}">Query no. {{tag.query.id}}</a>) - Welcome, {{user.username}}, your progress: </h2>

<div class="progress m-5">
  <div class="progress-bar" role="progressbar" style="width: {{pc}}%;" aria-valuenow="{{pc}}" aria-valuemin="0" aria-valuemax="100">{{pc}}%</div>
</div>

<!-- Document info -->
<div class="row">
    <div class="panel-group container doc-con bg-white my-3 p-2 border rounded col-md-10 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse1">
                <h4 class="panel-title"> {{ title | safe }}, {{ do.docpar.doc.wosarticle.so }}
                    {% if do.docpar.doc.wosarticle.py %}
                        ({{ do.docpar.doc.wosarticle.py }})</h4>
                    {% endif %}
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <p><a target="_blank" href="http://dx.doi.org/{{ doc.wosarticle.di }}">{{ doc.wosarticle.di}}</a>
                <p style="text-align:left">
                {{ doc.docauthinst }}
                {% for au in authors %}
                <span>{% if au.AF %}
                    {{au.AF}}
                    {% else %}
                    {{au.AU}}
                    {% endif %}
                    [{{au.institution|safe}}];</span>
                {% endfor %}
                <p style="text-align:left">
                    Author keywords: {{de | safe}}
                <p style="text-align:left">
                    WoS Keywords Plus: {{kwp | safe}}
                <p style="text-align:left">
                  Document ID: <a href="{% url 'scoping:document' tag.query.project.id do.docpar.doc.id %}">{{do.docpar.doc.pk}}</a>
                {% if do.docpar.doc.docfile %}
                    <p style="text-align;left">
                        PDF: <a href="{% url 'scoping:download_pdf' do.docpar.doc.docfile.id %}">View</a>
                    </p>
                {% endif %}
                <p style="text-align:left">
                {{ abstract | safe }}
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="container col-md-3">

    <!-- Form to add a note -->
    <div class="border rounded bg-white my-3 p-2">
        Add a note to this paragraph
        <hr>
        <form action="{% url 'scoping:add_note' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <input type="hidden" name="docn" value="{{do.docpar.id}}"></input>
          <input type="hidden" name="tag" value="{{tag.id}}"></input>
        <textarea class="form-control" name="note" rows=3>
        </textarea>
        <br>
        <p>
        <button type="submit" class="btn btn-primary">Add note</button>
    </form>
    </div>

    <!-- Show all the notes -->
    {% for note in notes %}
    <div class="border rounded bg-white my-3 p-2 note">
    <p class="notedesc"><b>{{note.date}}, {{note.user.username}} wrote...</b>
    <hr>
    {{note.text}}
    <hr>
    <a href="{% url 'scoping:delete' thing='Note' thingid=note.pk %}">Delete
    </a>

    </div>
    {% endfor %}

</div>
<div class="container text-con bg-white my-3 p-2 border rounded col-md-6 ">
    {% for d in pars %}
        {% if d.1 == do.docpar.id %}
            <p class="" id={{d.1}}><strong>{{ d.0 | safe}}</strong></p>
        {% else %}
            <p class="text-muted" id={{d.0}}>{{ d.0 | safe }}</p>
        {% endif %}
    {% endfor %}
</div>



<!-- Column 3, relevance, categories and next-->
<div class="container col-md-3">
    <form action="{% url 'scoping:rate_par' tag.id ctype do.id todo done %}" method="POST">
    {% csrf_token %}
    <div class="border rounded bg-white my-3 p-2">
        <p class="lead">Is this document relevant to the tag: {{tag.title}}?
            <hr>
            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons"> -->
              <label class="btn btn-secondary">
                <input type="radio" name="relevant" id="option1" autocomplete="off" value=1>Yes
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="relevant" id="option2" autocomplete="off" value=2>No
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="relevant" id="option3" autocomplete="off" value=3>Maybe
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="relevant" id="option3" autocomplete="off" value=9>Parse error
              </label>
            <!-- </div> -->
    </div>
        {% for l in levels %}
            <div class="border rounded bg-white my-3 p-2">
                Which level {{l.0.1.level}} categories is this paragraph relevant to?
                (hover for more info)
                        <hr>
                    {% for t in l %}
                    <button value="{{t.1.id}}" type="button" class="btn cat {{t.0}}" data-toggle="tooltip" data-placement="top" title="{{t.1.description}}">{{t.1}}</button>

                    {% endfor %}
            </div>
        {% endfor %}


    {% bootstrap_button 'Save/Next >>>' %}
</div>

</div>

</div>

<div class="tools">
    {% for l in levels %}
    <div class="border rounded bg-white my-3 p-2">
        {% for t in l %}
        <button value="{{t.1.id}}" type="button" " data-toggle="tooltip" data-placement="top" title="{{t.1.description}}">{{t.1}}</button> 
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>

$("#main").css("width", "100%");
$("#main").removeClass("col-md-10");
$("#main").removeClass("container");
$("#main").addClass("p-4");

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
//go to paragraph
var elmnt = document.getElementById({{do.docpar.id}});
elmnt.scrollIntoView({behavior:"smooth",block:"center"});

//
$(".cat").click(function(){
    id2 = $(this).val()

    if ($(this).hasClass("True")) {
        method = "remove"
    } else {
        method = "add"
    }

    $(this).toggleClass("True")

    $.ajax({
        url: "{% url 'scoping:update_thing' %}",
        data: {
          "thing1": "DocPar",
          "id1": "{{do.docpar.pk}}",
          'thing2': 'Technology',
          'id2': id2,
          "method": method
        },
        success: function(data) {

        }
    })
})

</script>
{% endblock %}
