<html>
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Snowballing</title>
    <link href="{% static 'scoping/css/stylingsbs.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
  {% include 'scoping/nav_bar.html' with user=user sbsid=sb_session_last.id %}
    <div id="main">
      <div id="graph">

        <h1>Snowballing Helper</h1>
        <br/>

        <!-- This gets new snowballing sessions -->
        <h2>Start a new snowballing session (SB)</h2>
        <br/>
        <div class="explanation">
          <p>Start a new snowballing session by using the form below.</p>
        </div>
        <img src="{% static 'scoping/img/monkey.jpg' %}" height="200px"/>
        <form action="{% url 'scoping:start_snowballing' %}" method="post">
        {% csrf_token %}

          <h3> SB session name </h3>
          <input type="text" name="sbs_name" />


      <h3> Query Source </h3>
        <select name="qdb">
            <option value="WoS">Web of Science</option>
            <option value="scopus">Scopus</option>
        </select>

          <h3> Initial pearls </h3>
          <p>
            <i>Provide a list of references to start snowballing from seperated by the operator OR.</i><br/>
            <i>Accepted formats:<i><br/>
            <i>(AU=[author name] AND TI=[Title] AND PY=[Publishing year])</i><br/>
            <i>(DO=[doi])<i>
          </p>
          <textarea rows=10 cols=100 name="sbs_initialpearls"></textarea>
          <br/><br/>

          <input type="submit" value="Start snowballing" />
        </form>


        <br/>
        <hr/>
        <br/>

        <!-- Snowballing session manager -->
        <h2> Snowballing session manager </h2>
        <br/>

        <!-- button to delete all snowballing sessions -->
 
        <table class="light">
          <tr class="title">
            <td>ID</td>
            <td>Name</td>
            <td>Initial Pearls</td>
            <td>Date</td>
            <td># Steps</td>
            <td>Latest query</td>
            <td># Docs to review</td>
            <td># Selected docs</td>
            <td># Total docs</td>
            <td>Status</td>
            <td>Delete</td>
          </tr>
          {% for value in sb_info %} 
          <tr>
            <td>{{ value.id }}</td>
            <td>{{ value.name }}</td>
	    <td>{{ value.ip }}</td>
            <td>{{ value.date }}</td>
            <td>{{ value.ns }}</td>
            {% if value.rc > 0 %}
              <td><a href="docs/{{value.lq}}">{{ value.lq }}</a></td>
            {% else %}
              <td><a href="querying/{{value.lq}}">View progress</a></td>
            {% endif %}
            <td>{{ value.ndrev }}</td>
            <td>{{ value.ndsel }}</td>
            <td>{{ value.ndtot }}</td>
            <td>{{ value.status }}</td>
            <td><a href="delete_sbs/{{value.id}}"><button type="button" onclick="return confirm('Are you sure you would like to delete this query?');">Delete</button></a></td> 
          </tr>
          {% endfor %}
        </table>

      </div>
    </div>
  </body>
</html>
