<html>
  <head>
{% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Snowballing</title>
    <link href="{% static 'scoping/css/styling.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
  {% include 'scoping/nav_bar.html' with user=user sbsid=sb_session_last.id %}
    <div id="main">
      <div id="graph">

        <h1> Snowballing Helper</h1>
        <br/>

        <!-- Query manager -->
        <h2> Snowballing session manager </h2>
        <br/>

        <table class="light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Initial Pearls</th>
            <th>Date</th>
            <th># Steps</th>
            <th># Selected docs</th>
            <th>Status</th>
          </tr>
          {% for sbs in sb_sessions %}
          <tr>
            <td>{{ sbs.id }}</td>
            <td>{{ sbs.name }}</td>
	    <td>{{ sbs.initial_pearls }}</td>
            <td>{{ sbs.date }}</td>
            <td></td>
            <td></td>
            <td>View progress</td>
          </tr>
          {% endfor %}
        </table>

        <br/><hr/><br/>

        <!-- This gets new queries -->
        <h2> Start new snowballing session </h2>
        <br/>

        <form action="{% url 'scoping:start_snowballing' %}" method="post">
        {% csrf_token %}

          <h3> SB session name (optional) </h3>
          <input type="text" name="sbs_name" />

          <h3> Initial pearls </h3>
          <p>
            <i>Provide a list of references to start snowballing from.</i><br/>
            <i>Accepted formats:<i><br/> 
            <i>(AU=[author name] AND TI=[Title])</i><br/>
            <i>(DO=[doi])<i>
          </p>
          <textarea rows=10 cols=100 name="sbs_initialpearls"></textarea>
          <br/><br/>

          <input type="submit" value="Start snowballing" />
        </form>
      </div>
    </div>
  </body>
</html>
