<html>
  <head>
    {% load static %}
    {% load scoping_extras %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.4.4.js"></script>
    <title>Scoping</title>
    {% if request.session.appmode == "scoping" %}
      <link href="{% static 'scoping/css/styling.css' %}" rel="stylesheet" type="text/css" />
    {% else %}
      <link href="{% static 'scoping/css/stylingsbs.css' %}" rel="stylesheet" type="text/css" />
    {% endif %}
  </head>
  <body>
    {% include 'scoping/nav_bar.html' with user=user qid=query.id %}
    <div id="main">
      <div id="graph">
    
        {% if request.session.appmode == "scoping" %}
        <h1> Scoping Review Helper</h1>
        <br/>

        <!-- Query manager -->
        <h2> User <span class="username">{{ user.username }}</span> Overview</h2>

        <h4>Scoping queries</h4>

        <table class="light" style="width:80%">
          <tr class="title">
            <td>Query ID</td>
            <td>Query Title</td>
            <td>Tag Title</td>
            <td># Documents</td>
            <td>! To review</td>
            <td>Reviewed</td>
            <td>Unknowns</td>
            <td>Yes buts</td>
          </tr>
          {% for q in queries %}
            {% if q.type == "default" or q.type == "step_summary" %}
              <tr>
                <td><a href="/scoping/query/{{q.id}}">{{q.id}}</td>
                <td>{{q.title}}</td>
                <td>{{q.tag.title}}</td>
                <td>{{q.ndocs}}</td>
                {% if q.revdocs > 0 %}
                  <td class="review{{q.unreviewed_docs}} review"><a href="/scoping/screen/{{q.id}}/{{q.tag.id}}/0/0">{{q.unreviewed_docs}}</a></td>
                  <td class="review{{q.revieweddocs}} review"><a href="/scoping/screen/{{q.id}}/{{q.tag.id}}/1/0">{{q.revieweddocs}}</a> ({{q.relevance}}% relevant)</td>
                  <td class="review{{q.maybedocs}} review"><a href="/scoping/screen/{{q.id}}/{{q.tag.id}}/3/0">{{q.maybedocs}}</a></td>
                  <td class="review{{q.yesbuts}} review"><a href="/scoping/screen/{{q.id}}/{{q.tag.id}}/4/0">{{q.yesbuts}}</a></td>
                {% else %}
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>

        {% else %} 
        <h4>My snowballing sessions and associated queries</h4>
        <br/>

        <div class="explanation">
          <p>Click on a row or on the expland button to see the list of queries associated to a snowballing session.</p>
        </div>

        <table class="light" style="width:80%">
          <tr  class="title" >
            <td>SBS ID</td>
            <td>SBS Title</td>
            <td># Steps</td>
            <td># Documents</td>
            <td># Selected docs</td>
            <td></td>
            <td>Next step</td>
          </tr>
          {% for sbs in sbsessions %}
             <tr class="sbsheader expand">
                <td><a href="/scoping/docssbs/{{ sbs.id }}">{{ sbs.id }}</a></td>
                <td>{{ sbs.name }}</td>
                <td>{{ sbs.ns }}</td>
                <td>{{ sbs.ndtot }}</td>
                <td>{{ sbs.ndsel }}</td>
                <td></td>
                <td><button type="button">Expand</button></td>
            </tr>
            <tr class="sbsquery" style="color: #999999; font-style: italic; font-weight: bold;"> 
                <td></td>
                <td>QID</td>
                <td>Q. Type</td>
                <td># Docs</td>
                <td># Doc selected</td>
                <td></td>
                <td>Action</td>
            </tr>
            {% for q in sbs.q_info %}
              <tr class="sbsquery">  
                <td></td>              
                <td><a href="/scoping/docs/{{ q.id }}">{{ q.id }}</td>
                <td>{{ q.type }}</td>
                <td>{{ q.nbdoctot }}</td>
                <td>{{ q.nbdocsel }}</td>
                <td></td>
                {% if q.last == "True" %}
                  <td><a href=""><button type="button">Snowball</button></a></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endfor %}  
          {% endfor %}
        </table>

      {% endif %}
        <p><button onclick="location.href='/accounts/logout'">Log Out</button>
        <p><button onclick="location.href='/admin/password_change'">Change Password</button>

      </div>
    </div>
  </body>

<script>
  $(function(){
     $('.sbsquery').hide();
  });

  $('.sbsheader').click(function(){
     $(this).nextUntil('tr.sbsheader').toggle();
  });
</script>
</html>
