{% extends "scoping/base_bs.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block content %}
      {% if request.session.appmode == "snowballing" %}

      <h4>My snowballing sessions and associated queries</h4>
      <br/>

      <div class="explanation">
        <p>Click on a row or on the expland button to see the list of queries associated to a snowballing session.</p>
      </div>

      <table class="light" style="width:80%">
        <tr  class="title" >
          <td>SBS ID</td>
          <td>SBS Title</td>
          <td># Steps</td>
          <td># Documents</td>
          <td># Selected docs</td>
          <td></td>
          <td>Next step</td>
        </tr>
        {% for sbs in sbsessions %}
           <tr class="sbsheader expand">
              <td><a href="/scoping/docssbs/{{ sbs.id }}">{{ sbs.id }}</a></td>
              <td>{{ sbs.name }}</td>
              <td>{{ sbs.ns }}</td>
              <td>{{ sbs.ndtot }}</td>
              <td>{{ sbs.ndsel }}</td>
              <td></td>
              <td><button type="button">Expand</button></td>
          </tr>
          <tr class="sbsquery" style="color: #999999; font-style: italic; font-weight: bold;">
              <td></td>
              <td>QID</td>
              <td>Q. Type</td>
              <td># Docs</td>
              <td># Doc selected</td>
              <td></td>
              <td>Action</td>
          </tr>
          {% for q in sbs.q_info %}
            <tr class="sbsquery">
              <td></td>
              <td><a href="/scoping/docs/{{ q.id }}">{{ q.id }}</td>
              <td>{{ q.type }}</td>
              <td>{{ q.nbdoctot }}</td>
              <td>{{ q.nbdocsel }}</td>
              <td></td>
              {% if q.last == "True" %}
                <td><a href=""><button type="button">Snowball</button></a></td>
              {% else %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      </table>



      {% else %}

      <h1> Scoping Review Helper</h1>
      <br/>

      <!-- Query manager -->
      <h2> User <span class="username">{{ user.username }}</span> Overview</h2>

      {% if '@mcc-berlin.net' in request.user.email %}

          <h3> User Credentials </h4>
              <p> Enter credentials here that can be used when submitting queries. N.B Must be UK Federation, only tested for University of Leeds.
                  Security implications vague... At your own risk.
              <p><b>Organisation:</b> <input type="text" name="cred_org" value="{{user.profile.cred_org }}" autocomplete="off"></input>
                  <button class="btn updater">Update</button>
              <p><b>Username:</b> <input type="text" name="cred_uname "value="{{ user.profile.cred_uname }}" autocomplete="off"></input>
                  <button class="btn updater">Update</button>
              <p><b>Password:</b> <input type="password" name="cred_pwd" value="{{ user.profile.cred_pwd }}" autocomplete="off"></input>
                  <button class="btn updater">Update</button>

      {% endif %}

      <h4>Scoping queries</h4>

      <table class="table" style="width:80%">
        <tr class="title">
          <td>Query ID</td>
          <td>Query Title</td>
          <td>Tag Title</td>
          <td>! To review</td>
          <td>Reviewed</td>
          {% if user.profile.type == "default" %}
          <td>Yes</td>
          <td>No</td>
          <td>Maybe</td>
          <td>Yes buts</td>
          {% else %}
          <td>Yes T Yes I</td>
          <td>Yes T No I</td>
          <td>No T Yes I</td>
          <td>No T No I</td>
          {% endif %}
        </tr>
        {% for q in queries %}
          {% if q.type == "default" or q.type == "step_summary" %}
            <tr>
              <td><a href="/scoping/query/{{q.id}}">{{q.id}}</td>
              <td>{{q.title}}</td>
              <td>{{q.tag.title}}</td>
              {% if q.docstats.revdocs > 0 %}
                <td class="review{{q.unreviewed_docs}} review">
                  <a href="/scoping/screen/{{q.id}}/{{q.tag.id}}/0/0">
                    {{q.docstats.unreviewed_docs}}</a></td>
                <td class="review{{q.revieweddocs}} review">
                  <a href="/scoping/screen/{{q.id}}/{{q.tag.id}}/99/0">
                    {{q.docstats.reviewed_docs}}</a>
                    ({{q.docstats.relevance}}% relevant)</td>

                {% for r in q.docstats.dts %}
                <td class="review{{q.reldocs}} review">
                  <a href="{% url 'scoping:screen' q.id q.tag.id r.r 0 %}">
                    {{ r.n }}</a></td>
                {% endfor %}
              {% else %}
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </table>


      {% if wis %}
        <h4>Word-Topic intrusions</h4>
        <table class="table" style="width:80%">
          <tr>
            <th>Run ID</th>
            <th>! To review</th>
            <th>Reviewed</th>
          </tr>
        {% for w in wis %}
          <tr>
            <td><a href="{% url 'tmv_app:topics' w.topic__run_id %}">{{w.topic__run_id}}</a></td>
            <td><a href="{% url 'scoping:word_intrusion' w.topic__run_id %}">{{w.tr}}</a>
            <td>{{w.reviewed}}</td>
          </tr>

        {% endfor %}
        </table>
      {% endif %}

      {% if tis %}
        <h4>Topic-Doc intrusions</h4>
        <table class="table" style="width:80%">
          <tr>
            <th>Run ID</th>
            <th>! To review</th>
            <th>Reviewed</th>
          </tr>
        {% for t in tis %}
          <tr>
            <td><a href="{% url 'tmv_app:topics' t.intruded_topic__run_id %}">{{t.intruded_topic__run_id}}</a></td>
            <td><a href="{% url 'scoping:topic_intrusion' t.intruded_topic__run_id %}">{{t.tr}}</a>
            <td>{{t.reviewed}}</td>
          </tr>

        {% endfor %}
        </table>


      {% endif %}

      {% if codings %}

      <h4> Meta-Analysis codings</h4>

      <form action="" method="get" class="form form-horizontal">
      {% bootstrap_form filter.form layout="horizontal" %}
      {% bootstrap_button 'filter' %}
    </form>

      {% render_table codings %}

      {% endif %}

    {% endif %}
      <p><a href='/accounts/logout'>Log out</button>
      <p><a href="{% url 'password_change' %}">Change password</button>

    </div>
  </div>
</body>

{% endblock %}

{% block script %}

<script>
  $(function(){
     $('.sbsquery').hide();
  });

  $('.sbsheader').click(function(){
     $(this).nextUntil('tr.sbsheader').toggle();
  });

  vals = {
      "cred_org": "{{user.profile.cred_org}}",
      "cred_pwd": "{{user.profile.cred_pwd}}",
      "cred_uname": "{{user.profile.cred_uname}}"
  }

  $('input').on('input', function() {
      v = $(this).val()
      orig = vals[$(this).attr('name')]
      if (v!=orig) {
          $(this).addClass('changed')
          $(this).next().addClass('changed')
      } else {
          $(this).removeClass('changed')
          $(this).next().removeClass('changed')
      }
  })

  $('button.updater').click(function(){
      t = $(this)
      $.ajax({
          url: "{% url 'scoping:update_thing' %}",
          data: {
              "thing1": "Profile",
              "id1": {{user.profile.id}},
              "thing2": $(this).prev().attr('name'),
              "id2": $(this).prev().val(),
              "method": "update"
          },
          success: function(data) {
              console.log("SUCCESS")
              console.log(t)
              t.removeClass('changed')
              t.prev().removeClass('changed')
              vals[t.prev().attr('name')] = t.prev().val()
          }
      })
  })

    //   $.ajax({
    //       url: "{% url 'scoping:update_thing' %}",
    //       data: {
    //         "thing1": "DocStatement",
    //         "id1": statementid,
    //         'thing2': 'Technology',
    //         'id2': tid,
    //         "method": method
    //       },
    //       success: function(data) {
    //          // Do nothing
    //       }
    //   });

</script>

{% endblock %}
