{% extends "parliament/base.html" %}

{% block content %}

<h1>Paragraph {{par_id}}</h1>
<h2>
    from <a href="{% url 'parliament:document' document.id %}">{{document}}</a>,
    Speech <a href="{% url 'parliament:utterance' utterance.id %}">{{ utterance.id }}</a>
</h2>


    <div class="utterance" id="utterance_{{ut.id}}">
    <p class="speaker"><a href="{% url 'parliament:person' speaker.id %}">{{speaker.clean_name}}</a>
        {% if speaker.party %}
        <a href="{% url 'parliament:party' speaker.party.id %}"><span class="{{speaker.party.name}}">[{{speaker.party}}]</span></a>:</p>
        {% else %}
            <span class="{{speaker.party.name}}">[{{speaker.party}}]</span>:</p>
        {% endif %}


        <p class="paragraph">{{par.text}}</p>
        {% for ij in par.interjection_set.all %}
            <p class="interjection">
            {% for party in ij.parties.all %}
                <span class="party {{party.name}}">{{ party.name|upper }}</span>
            {% endfor %}
            {% for person in ij.persons.all %}
                <span class="speaker">
                    <a href="{% url 'parliament:person' person.id %}">
                        {{ person.clean_name }}
                    </a>
                </span>
            {% endfor %}            -
            <i class="em {{ ij.emoji}}"></i>
            {% if ij.type == 2 %}
                {{ij.text}}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
