amqp==5.1.1
asgiref==3.6.0
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.1
billiard==3.6.4.0
celery==5.2.7
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Django==4.2
django-autocomplete-light==3.9.4
django-bootstrap4==23.1
django-cities==0.6.1
django-debug-toolbar==4.0.0
django-filter==23.1
django-model-utils==4.3.1
django-postgres-extra==2.0.8
django-tables2==2.5.3
djangolotto==0.1.2
exceptiongroup==1.1.1
flower==1.2.0
gensim==4.3.1
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
humanize==4.6.0
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
joblib==1.2.0
kombu==5.2.4
lda==2.0.0
Markdown==3.4.3
nltk==3.8.1
numpy==1.24.2
outcome==1.2.0
packaging==23.0
pandas==2.0.0
pbr==3.1.1
priority==2.0.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
psycopg2==2.9.6
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyVirtualDisplay==3.0
redis==4.5.4
regex==2023.3.23
requests==2.28.2
RISparser==0.4.4
scikit-learn==1.2.2
scipy==1.10.1
git+https://git@gitlab.pik-potsdam.de/mcc-apsis/nacsos/nacsos-legacy/scrapewos.git@5dfa861ea5b99854367bb893cf60ef75210b4926#egg=scrapeWoS
selenium==4.8.3
short-url==1.2.2
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sqlparse==0.4.3
swapper==1.3.0
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.2
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
tzdata==2023.3
urllib3==1.26.15
vine==5.0.0
wcwidth==0.2.6
webdriver-manager==3.8.5
wsproto==1.2.0
