celery==4.1.0
Django==2.2.2
django-autocomplete-light==3.5.1
django-bootstrap4==0.0.6
django-cities==0.5.0.6
django-crispy-forms==1.7.2
django-debug-toolbar==1.8
django-extensions==1.8.1
django-filter==2.0.0
django-model-utils==3.0.0
django-polymorphic==2.0.3
django-postgres-extra==2.0a14
djangorestframework==3.9.0
django-tables2==1.10.0
djangolotto==0.1.1
ipython==6.1.0
multiprocess==0.70.5
nltk==3.2.4
psycopg2==2.7.3.2
RISparser==0.4.3
scikit-learn==0.23.1
short-url==1.2.2
