absl-py==0.4.0
adjustText==0.7.3
alembic==0.9.6
amqp==2.2.2
aiohttp==3.4.4
https://files.pythonhosted.org/packages/30/27/5358f5897196269353318ac4fbcb187b0b9cf37c16af408cecfe22dfc67e/aiohttp_socks-0.2-py3-none-any.whl
astor==0.7.1
backports-abc==0.5
banal==0.3.3
beautifulsoup4==4.6.0
billiard==3.5.0.3
bokeh==0.12.10
boto==2.48.0
boto3==1.5.20
botocore==1.8.34
bz2file==0.98
cairocffi==0.8.1
celery==4.1.0
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
chromedriver-installer==0.0.6 --install-option="--chromedriver-version=2.38"
cycler==0.10.0
cymem==1.31.2
dataset==1.0.3
decorator==4.1.2
dill==0.2.7.1
Django==2.2
djangorestframework==3.9.0
django-bootstrap4==0.0.6
django-cities==0.5.0.6
django-crispy-forms==1.7.2
django-debug-toolbar==1.8
django-extensions==1.8.1
django-filter==2.0.0
django-model-utils==3.0.0
django-tables2==1.10.0
djangolotto==0.1.1
docutils==0.14
EasyProcess==0.2.3
et-xmlfile==1.0.1
ftfy==4.4.3
gast==0.2.0
gensim==3.2.0
glob2==0.6
graphviz==0.8.3
grpcio==1.14.1
html5lib==0.999999999
idna==2.6
ipykernel==4.8.2
ipython==6.1.0
ipython-genutils==0.2.0
jdcal==1.4
jedi==0.10.2
Jinja2==2.10.1
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
kombu==4.1.0
lxml==4.1.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.0.2
msgpack-numpy==0.4.1
msgpack-python==0.4.8
multiprocess==0.70.5
murmurhash==0.28.0
networkx==2.1
nltk==3.2.4
normality==0.5.11
numpy==1.14.2
openpyxl==2.5.4
pandas==0.23.4
parse==1.8.2
pathlib==1.0.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.6.1
psycopg2==2.7.3.2
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.0
python-editor==1.0.3
pytz==2018.4
PyVirtualDisplay==0.2.1
PyYAML==4.2b1
pyzmq==17.0.0
redis==2.10.5
regex==2017.4.5
requests==2.20.0
git+https://github.com/mcallaghan/RISparser
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8.1
selenium==3.5.0
Shapely==1.6.2.post1
short-url==1.2.2
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
SQLAlchemy==1.3.0
sqlparse==0.2.3
swapper==1.1.0
termcolor==1.1.0
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
tweepy==3.7.0
git+https://github.com/twintproject/twint.git
ujson==1.35
unicodecsv==0.14.1
urllib3==1.24.2
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
XlsxWriter==0.9.8
