<html>
<head>
{% load static %}
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.4.4.js"></script>
    <script language="JavaScript" src="{% static 'tmv_app/js/pie.js' %}"></script>
    <script language="JavaScript" src="/static/js/search.js"></script>


    <script type="text/JavaScript">
    <!--

    var array = {{ pie_array|safe }};
    var elements = generate_pie_elements(array);
    var piec = null;
    function init() {
        // create pie chart
        piec = new PieChart(elements);
        piec.initialize();

    }

    function highlight(i) {
        piec.highlight(i);
    }

    function unhighlight() {
        piec.unhighlight();
    }
    console.log(array)

    //-->
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{ doc.title }}</title>

<link href="{% static 'tmv_app/css/styling.css' %}" rel="stylesheet" type="text/css">
</head>

<body onLoad="init()">
{{ nav_bar|safe }}

    <div id="top"></div>

    <h1 id="header">
        <table><tr>
            <td id="title">{{ author }}</td>
        </tr></table>

        <hr noshade>
    </h1>

    <div id="main">
        <table><tr>
            <td width="210px">
                <table class="dark">
                <tr><td><canvas id="canvas" width="200" height="200"></canvas></td></tr>
                <tr class="title">
                    <td>related topics</td>
                </tr>
                {% if topics %}
			{% for topic in topics %}
			<tr class="list"><td id="topic_{{ topic.topic }}" onmouseover="highlight({{ forloop.counter|add:"-1" }})" onmouseout="unhighlight()" onclick="window.location.href='/tmv_app/topic/{{ topic.topic }}'"><span class="{{ topic.ntopic }}">{{ topic.topic__title }}</span></td></tr>
			{% endfor %}
		{% endif %}
                </table>
            </td>

            <td width="70.0%">
				<table class="light">
				<tr class="title">
				<td>Author Publications</td>
				</tr>
				{% if docs %}
					{% for doc in docs %}
					<tr class="list"><td id="{{ doc.title }}" onclick="window.location.href='/nacsos-legacy/tmv_app/doc/{{ doc.pk }}/{{run_id}}'">{{ doc.title }}</td><tr>
					{% endfor %}
				{% endif %}
				</table>
				</td>
        </tr></table>
    </div>

    <div id="footer">
        <br>
        <hr noshade>
    </div>

</body>
</html>
