{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=run_id %} {% endblock %}

{% block content %}
<div id="main">
  <div id="top"></div>
  <div id="header">
  <h1>Climate Change Topics</h1>
  <h2>Relative Presence of Topics in all Documents</h2>
  <h3>Run no. {{run_id}} on query: {{stat.query}}
  <hr noshade>
  </div>

  <table>
      <td width="10%">
      </td>
      <td width="80%">
          <div id="pyGraph" height="600"></div><br>
      </td>
  </table>

  <table class="scroll">
      {% for p in periods %}
      <td width="{{p.w}}%">
          <table>
              <th>{{p.title}}: {{p.ds.n_docs}} docs</th>
              {% for t in p.ts %}
              <tr><td class="wtopic wclick" data-pt="{{t.pt}}" id="{{t.id}}">
                  <a href="{% url 'tmv_app:topic_detail' t.id stat.run_id %}">
                      {{t.title}}
                  </a> - {{t.score|floatformat}}</td></tr>
              {% endfor %}
          </table>
      </td>
      {% endfor %}
      <td>
          <table>
              <th>Dynamic Topics: {{dtopics.n_docs}}</th>
              {% for t in dtopics %}
              <tr><td class="dtopic wtopic clickable" data-run="{{t.run_id.run_id}}" id="{{t.id}}">{{t.title}} - {{t.score|floatformat}} <a href="{% url 'tmv_app:dynamic_topic_detail' t.id %}">Go</a></td></tr>
              {% endfor %}
          </table>
      <td>
  </table>

{% endblock %}

{% block script %}
<script>
$(".wclick").on("click", function() {
    dtid = $(this).attr("data-pt")
    $("#"+dtid).click()
})

$(".dtopic").on("click", function(){
    dtid = $(this)[0].id
    dtopic = $(this)
    run_id = $(this).attr("data-run")
    $.ajax({
      url: '/tmv_app/highlight_dtm_w',
      data: {
        'run_id': run_id,
        'dtid': dtid,
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        for (d in data) {
            t = data[d]
            c = "rgba(255,0,0,"+t.score+")"
            topic = $("#"+t.id)
            if (topic.hasClass(dtid)) {
                topic.css("background-color", "white")
            } else {
                topic.css("background-color", c)
            }
            topic.toggleClass(dtid)
        }
        topic = dtopic
        console.log(topic)
        c = "rgb(255,0,0)"
        if (topic.hasClass(dtid)) {
            topic.css("background-color", "white")
        } else {
            topic.css("background-color", c)
        }
        topic.toggleClass(dtid)
        topic = $('*[data-id="'+dtid+'"]');
        topic.toggleClass("hovered")
      }
    })
})
var data = {{ yts|safe }};

var topic_title = ""

console.log(data)

var width = $("#pyGraph").parent().width();
var height = width /3

var graph = d3.select("#pyGraph")
    .append("svg")
    .attr("width", width)
    .attr("height", height);

graph.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "white")
    .style("stroke", "black")
    .style("stroke-width", 2)

graph.append("line")
    .attr("class", "axis")
    .attr("x1", width*0.1)
    .attr("x2", width* 0.9)
    .attr("y1", height*0.9)
    .attr("y2", height*0.9)
    .attr("stroke-width", 1)
    .attr("stroke", "black");

graph.append("line")
    .attr("class", "axis")
    .attr("x1", width*0.1)
    .attr("x2", width* 0.1)
    .attr("y1", height*0.9)
    .attr("y2", height*0.1)
    .attr("stroke-width", 1)
    .attr("stroke", "black");

max_score = d3.max(data, function(d) { return d.year_share })

yscale = d3.scaleLinear()
    .domain([0, max_score])
    .range([height*0.9, height*0.1]);

min_PY = d3.min(data, function(d) { return d.period__n })
max_PY = d3.max(data, function(d) { return d.period__n })


xscale = d3.scaleLinear()
    .domain([min_PY, max_PY])
    .range([width*0.1, width*0.9]);


var line = d3.line()
    .x(function(d) {
        return xscale(d.period__n);
    })
    .y(function(d) {
        return yscale(d.year_share);
    })

var topics = d3.nest()
.key(function(d) {
    return d.dtopic__title;
})
.sortValues(function(a,b) { return a.period__n - b.period__n})
.entries(data);

var years = d3.nest()
.key(function(d) {
    return d.period__n;
})
.entries(data);

console.log(topics)


var topicClass = function(x) {
    if (x == topic_title || x == topic){
        return 'current_topic';
            } else {
        return 'other_topic';
    }
}

div = graph.append("text")
    .attr("text-anchor", "middle")
    .attr("fill", "black")
    .attr("font-size", "16px")
    .attr("x", width/2)
    .attr("y", 25)
    .attr("id", "topic")
    .text(topic_title)

graph.selectAll("circle")
    .data(data)
    .enter()
    .append("circle")
    .attr("cx", function(d) { return xscale(d.period__n)})
    .attr("cy", function(d) { return yscale(d.year_share)})
    .attr("r", 5)
    .attr('class', function(d) {
        return topicClass(d.dtopic__id)
    });

d3.selection.prototype.moveToFront = function() {
  return this.each(function(){
    this.parentNode.appendChild(this);
  });
};
d3.selection.prototype.moveToBack = function() {
    return this.each(function() {
        var firstChild = this.parentNode.firstChild;
        if (firstChild) {
            this.parentNode.insertBefore(this, firstChild);
        }
    });
};

topics.forEach(function(d) {
    graph.append('svg:path')
        .attr('d', line(d.values))
        .attr('class', function() {
            return topicClass(d.key)
        })
        .attr('data-id', function() {
            return d.values[0].dtopic__id
        })
        .on("mouseover", function() {
            d3.select(this).classed("hovered",true)
            d3.select(this).moveToFront();
            d3.select("#topic").transition().duration(200)
                .style("fill", "#b3cde3")
                .text(d.key);
            $("#"+d.values[0].dtopic__id).click()
        })
        .on("mouseout", function() {
            d3.select(this).classed("hovered",false)
            d3.select("#topic").transition().duration(200)
                .style("fill", "#fbb4ae")
                .text(topic_title);
            $("#"+d.values[0].dtopic__id).click()
        })
        .on("click", function() {
            link = "/tmv_app/dynamic_topic/"+d.values[0].dtopic__id
            window.location.assign(link)
        })
        .attr('fill', 'none');
});

years.forEach(function(d) {
    graph.append('svg:text')
        .attr("text-anchor", "middle")
        .attr("fill", "black")
        .attr("font-size", "18px")
        .attr("x", function() { return xscale(parseFloat(d.key))})
        .attr("y", height*0.97)
        .text(function() {
            if(parseFloat(d.key) % 5==0) {
                return d.key
            }
        });
});




</script>
{% endblock %}
