{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=run_id %} {% endblock %}

{% block content %}
<div id="main">
  <div id="top"></div>
  <div id="header">
  <h1>Climate Change Topics</h1>
  <h2>Relative Presence of Topics in all Documents</h2>
  <h3>Run no. {{run_id}} on query: {{stat.query}}
  <hr noshade>
  </div>

  <table>
      {% for p in periods %}
      <td width="{{p.w}}%">
          <table>
              <th>{{p.title}}: {{p.ds.n_docs}} docs</th>
              {% for t in p.ts %}
              <tr><td class="wtopic wclick" data-pt="{{t.pt}}" id="{{t.id}}">
                  <a href="{% url 'tmv_app:topic_detail' t.id stat.run_id %}">
                      {{t.title}}
                  </a> - {{t.score|floatformat}}</td></tr>
              {% endfor %}
          </table>
      </td>
      {% endfor %}
      <td>
          <table>
              <th>Dynamic Topics: {{dtopics.n_docs}}</th>
              {% for t in dtopics %}
              <tr><td class="dtopic wtopic clickable" data-run="{{t.run_id.run_id}}" id="{{t.id}}">{{t.title}} - {{t.score|floatformat}}</td></tr>
              {% endfor %}
          </table>
      <td>
  </table>

{% endblock %}

{% block script %}
<script>
$(".wclick").on("click", function() {
    dtid = $(this).attr("data-pt")
    $("#"+dtid).click()
})

$(".dtopic").on("click", function(){
    dtid = $(this)[0].id
    dtopic = $(this)
    run_id = $(this).attr("data-run")
    $.ajax({
      url: '/tmv_app/highlight_dtm_w',
      data: {
        'run_id': run_id,
        'dtid': dtid,
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        for (d in data) {
            t = data[d]
            c = "rgba(255,0,0,"+t.score+")"
            topic = $("#"+t.id)
            if (topic.hasClass(dtid)) {
                topic.css("background-color", "white")
            } else {
                topic.css("background-color", c)
            }
            topic.toggleClass(dtid)
        }
        topic = dtopic
        console.log(topic)
        c = "rgb(255,0,0)"
        if (topic.hasClass(dtid)) {
            topic.css("background-color", "white")
        } else {
            topic.css("background-color", c)
        }
        topic.toggleClass(dtid)
      }
    })
})
</script>
{% endblock %}
