{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=run_id %} {% endblock %}

{% block content %}
<div id="top"></div>
<div id="header">
<h1>Climate Change Topics</h1>
<h2>Dynamic Topic Overview</h2>
<h3>{{topic.title}}
<hr noshade>
</div>
<div id="main">

<table width="100%">
  <td width="10%">
    <table class="dark">
    <tr class="title">
    <td>words</td></tr>
      {% for tt in topicterms %}
      <tr><td>{{tt.title}}
      {% endfor %}
    </table>
  </td>
  <td width="50%">
    <table>
    {% for t in wtopics %}

    <tr class="wtopic">
      <td><a class="nodec" href="{% url 'tmv_app:topic_detail' t.pk %}">View</a>
      <td>{{t.score}}
      <td>{{t.year}}</td><td>{{t.title}}</td>
      {% for tt in t.tts %}
      <td class="word" data-word="{{tt.title|lower}}">{{tt.title|lower}}
      {% endfor %}

    </a>
    </td>
    {% endfor %}
    </table>
    <td width=40%>
      {% include 'tmv_app/multi_topic_docs.html' with docs=docs %}
    </td>
  </table>
</td>
</div>
</div>
{% endblock %}

{% block script %}

<script type="text/JavaScript">

$(".word").on("click", function() {
  word = $(this).text().trim()
  words = $('[data-word="'+word+'"]')
  $(".t1").removeClass("t1")
  words.addClass("t1")
})



</script>

{% endblock %}
