{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=run_id %} {% endblock %}

{% block content %}
<div id="top"></div>
<div id="header">
<h1>Climate Change Topics</h1>
<h2>Dynamic Topic Overview</h2>
<h3>{{topic.title}}
<hr noshade>
</div>
<div id="graph">
<table width="100%">
  <td width="20%">
    <table class="dark">
    <tr class="title">
    <td>words</td></tr>
      {% for tt in topicterms %}
      <tr><td>{{tt.title}}
      {% endfor %}
    </table>
  </td>
  <td width="60%">
    <table>
    {% for t in wtopics %}
    <a class="nodec" href="{% url 'tmv_app:topic_detail' t.pk %}">
      <tr><td>
    <tr class="wtopic">
      <td>{{t.year}}</td><td>{{t.title}}</td>
      {% for tt in t.tts %}
      <td>{{tt.title}}
      {% endfor %}

      </div>
    </a>
    </td>

    {% endfor %}
  </table>
</td>
{% endblock %}
