{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=run_id %} {% endblock %}

{% block content %}
<div id="top"></div>
<div id="header">
<h1>Climate Change Topics</h1>
<h2>Dynamic Topic Overview</h2>
<h3>{{topic.title}}
<hr noshade>
</div>
<div id="main">
    <div id="graph">
        <div id="pyGraph" height="600"></div><br>
    </div>

<table width="100%">
  <td width="10%">
    <table class="dark">
    <tr class="title">
    <td>words</td></tr>
      {% for tt in topicterms %}
      <tr><td>{{tt.title}}
      {% endfor %}
    </table>
  </td>
  <td width="50%">
    <table>
    {% for t in wtopics %}

    <tr class="wtopic">
      <td><a class="nodec" href="{% url 'tmv_app:topic_detail' t.pk %}">View</a>
      <td>{{t.score}}
      <td>{{t.year}}</td><td>{{t.title}}</td>
      {% for tt in t.tts %}
      <td class="word" data-word="{{tt.title|lower}}">{{tt.title|lower}}
      {% endfor %}

    </a>
    </td>
    {% endfor %}
    </table>
    <td width=40%>
      {% include 'tmv_app/multi_topic_docs.html' with docs=docs %}
    </td>
  </table>
</td>
</div>
</div>
{% endblock %}

{% block script %}

<script type="text/JavaScript">

$(".word").on("click", function() {
  word = $(this).text().trim()
  words = $('[data-word="'+word+'"]')
  $(".t1").removeClass("t1")
  words.addClass("t1")
})

var data = {{ wtvs|safe }};

div = d3.select("body").append("div")
  .attr("class","tooltip")
  .style("opacity",0)

console.log(data)

width=800
height = 600

var margin = {top: width*0.08, right: width*0.08, bottom: width*0.08, left: width*0.09}
    width = width - margin.left - margin.right,
    height = height - margin.top - margin.bottom;

var svg = d3.select("#pyGraph")
  .append("svg")
  .attr("width", width+margin.right+margin.left)
  .attr("height", height+margin.top+margin.bottom);

svg.append("rect")
  .attr("width", width+margin.right+margin.left)
  .attr("height", height+margin.top+margin.bottom)
  .style("fill", "white")
  .style("stroke", "black")
  .style("stroke-width", 2)

var g = svg.append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

myear = d3.max(data, function(d) {return d.year})

var x = d3.scaleLinear()
    .range([0, width])
    .domain([d3.min(data, function(d) {return d.year})-1,myear]);



keys = d3.map(data, function(d) { return d.year }).keys()
console.log(keys)

nested = d3.nest()
  .key(function(d) { return d.year; })
  .entries(data);

var flat_data = []

for (y=0;y<nested.length;y++) {
    var vals = nested[y].values.sort(function(x,y){
        return d3.descending(x.dscore,y.dscore)
    })
    for (v=0;v<vals.length;v++) {
        if (v==0) {last=0}
        vals[v].offset = last
        last += vals[v].score
        flat_data.push(vals[v])
    }
}

console.log(nested)


ysums = d3.max(flat_data, function(d) {
    return d.offset + d.score
} )

//console.log("YSUMS")
//var ysums = {{ ysums|safe }};
//console.log(ysums)

// ysums = d3.max(ysums, function(d) {
//     return d.sum
// } )


var y = d3.scaleLinear()
    .range([height, 0])
    .domain([0,Math.log(ysums)]);

// var y = d3.scaleLog()
//     .base(Math.E)
//     .range([height,0])
//     .domain([Math.exp(0), Math.exp(9)])

var z = d3.scaleLinear()
    .range([0.2,1])
    .domain([0,d3.max(flat_data,function(d) {return d.dscore})]);

var xAxis = d3.axisBottom(x)
  .tickValues(x.domain().filter(function(d,i){ return !(d%5)}));


g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).ticks(10).tickFormat(d3.format("d")));

g.append("g")
    .attr("class", "axis axis--y")
    .call(d3.axisLeft(y).ticks(10).tickFormat(d3.format("d")));

var bwidth = (x(myear)-x(myear-1))*0.75

g.append("g")
    .selectAll("rect")
    .data(flat_data)
    .enter().append("rect")
        .attr("fill", "steelblue" )
        .attr("stroke", "grey")
        .attr("stroke-width", 1)
        .attr("fill-opacity", function(d) {return z(d.dscore)})
        .attr("stroke-opacity", function(d) {return z(d.dscore)})
        .on("mouseover", function(d) {
          div.transition()
            .duration(200)
            .style("opacity", .9);
          div.html(d.title + "<br/>score: " + Math.round(d.dscore*100)/100)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
          })
        .on("mouseout", function(d) {
          div.transition()
            .duration(500)
            .style("opacity", 0);
          })
          .on("click", function(d) {
              window.open("/tmv_app/topic/"+d.id)
          })
      .attr("x", function(d,i) {
          return x(d.year)-bwidth/2;
      })
      .attr("y", function(d) {
          if (d.offset+d.score > 0) {
              v = Math.log(d.offset+d.score)
          } else {
              v = 0
          }
          return y(v);
      })
      .attr("height", function(d) {
          if (d.offset > 0) {
              o = Math.log(d.offset)
          } else {
              o = 0
          }
          if (d.offset+d.score > 0) {
              v = Math.log(d.offset+d.score)
          } else {
              v = 0
          }
          return y(o) - y(v) ;
      })
      .attr("width", bwidth);





</script>

{% endblock %}
