{% extends "tmv_app/base_bs.html" %}
{% load bootstrap4 %}

{% block content %}
<div id="main">
  <div id="top"></div>
  <div id="header">
  <h1>Topic network</h1>
    <br>
  <h3>Run no. {{run_id}} on
  {% if stat.query %}
   query: <a href="{% url 'scoping:query' stat.query.id %}">{{stat.query}}</a>
  {% elif stat.psearch %}
    search: <a href="{% url 'parliament:search-home' stat.psearch.id %}">{{stat.psearch}}</a>
  {% else %}
    None
  {% endif %}
  <hr noshade>
  </div>
<div id="graph">
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>
<p><div class="explanation" style="text-align:left">
  <h4 style="text-align:center">Topic Correlation Network</h4>
  <p><b>Correlation threshold:</b>
    <input class="param" id="cor" value="0.05" min="0.00" max="1" step="0.025" type="range"></input>
    <span id="corv">0.05
  <p><b>Force:</b>
    <input class="param" id="force" value="-200" type="range" min="-200" max="200"></input>
    <span id="forcev">-200
  {% if stat.method == 'DT' %}
    {% if stat.query %}
    <p><b>Time Period: </b>
      <input class="param" name="ar" value="-1" checked type="radio">All</input>
      <input class="param" name="ar" value="1" type="radio">AR1</input>
      <input class="param" name="ar" value="2" type="radio">AR2</input>
      <input class="param" name="ar" value="3" type="radio">AR3</input>
      <input class="param" name="ar" value="4" type="radio">AR4</input>
      <input class="param" name="ar" value="5" type="radio">AR5</input>
      <input class="param" name="ar" value="6" type="radio">AR6</input>
      {% else %}
      <p><b>Several time periods available (todo: implement method to choose) </b>
      {% endif %}
  {% endif %}
  <p>Hover over a node to view topic info, click the background
    to refresh the graph
</div>
<table><tr>
<td width="30%">
  <div class="explanation" style="width:90%">
  <p id="graphinfo">
    No Topic Selected<br> &nbsp;
  </p>
</div>
<td width="70%">
    <div id="pyGraph" height="600"></div><br>
</td>

</tr>
<td width="30%">
</td>
<td width="70%">
  <table class="light" id="doc_table">

  </table>
</td>
<tr>
</table>

<script>



graph = {
  "nodes": {{nodes | safe}},
  "links": {{links | safe}}
}

force = -200

drawgraph(graph,force)

$(".param").change(function(){
  force = $("#force").val()
  cor = $("#cor").val()
  $("#corv").text(cor)
  $("#forcev").text(force)
  ar = $('input[name="ar"]:checked').val();
  graph = getgraph(cor,force,ar)
})

function getgraph(cor, force, ar) {
  $.ajax({
    url: '/tmv_app/return_corrs',
    data: {
      'cor': cor,
      'run_id': {{run_id | safe}},
      'ar': ar
    },
    datatype: 'json',
    success: function(graph) {
      graph = JSON.parse(graph)
      drawgraph(graph,force)
    }
  })
}

// Get documents associated with multiple topics
function get_docs() {
  topics = [$( "#topic_selected" ).val() ]
  $( ".tselect:checked" ).each(function() {
    topics.push((this.value))
  })
  $.ajax({
    url: "{% url 'tmv_app:multi_topic' %}",
    data: {
      'topics': topics
    },
    success: function(data) {
      $("#doc_table").html(data)
    }
  })
}

function drawgraph(graph,force) {

  console.log(graph)

  d3.select("#pyGraph").select("svg").remove()

  var width = $("#pyGraph").parent().width();
  var height = width
  var svg = d3.select("#pyGraph")
    .append("svg")
    .attr("width", width)
    .attr("height", height);

  $("#graphinfo").html('<h3>Topic Selected:</h3>')
  $("#graphinfo").height(height-60)


  svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "white")
    .style("stroke", "black")
    .style("stroke-width", 2)
    .on("click", function() {
      drawgraph(graph,force)
    });

  var color = d3.scaleOrdinal(d3.schemeCategory20);


  var simulation = d3.forceSimulation()
      .force("link", d3.forceLink().id(function(d) { return d.id; }))
      .force("charge", d3.forceManyBody().strength(force))
      .force("center", d3.forceCenter(width / 2, height / 2));



  var linkedByIndex = {};
  graph.links.forEach(function(d) {
    linkedByIndex[d.source + "," + d.target] = 1;
  });



  function neighboring(a, b) {
    return linkedByIndex[a.index + "," + b.index];
  }



  smax=d3.max(graph.nodes, function(d) { return d.arscore;});
  lmax=d3.max(graph.links, function(d) { return d.score;});
  lmin=d3.min(graph.links, function(d) { return d.score;});

  var size = d3.scaleLinear()
      .domain([0, smax])
      .range([0, 15]);
  var swidth = d3.scaleLinear()
      .domain([lmin, lmax])
      .range([0.1, 5]);

  var link = svg.append("g")
    .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
    .attr("stroke-width", function(d) { return swidth(d.score); });

  var node = svg.append("g")
    .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
    .attr("r", function(d) { return size(d.arscore)})
    .attr("fill", function(d) { return color(d.title); })
    .on("mouseover", fade(.1))//.on("mouseout", fade(1))
    .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.append("title")
      .text(function(d) { return d.title; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

      function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; })
            .on;
      }

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }

      function isConnected(a, b) {
          return linkedByIndex[a.id + "," + b.id] || linkedByIndex[b.id + "," + a.id] || a.id == b.id;
      }

      function fade(opacity) {
          return function(d) {
              gtext = '<h3>Topic Selected:</h3>'
              if ("{{stat.method}}"=="DT") {
                  var method = "dynamic_topic"
              } else {
                  var method = "topic"
              }
              gtext += '<a href="/tmv_app/'+method+'/'+d.id+'"><h2>'+d.title+'</h2></a>'
              gtext += '<input type="hidden" id="topic_selected" value="'+d.id+'"'
              node.style("stroke-opacity", function(o) {
                  thisOpacity = isConnected(d, o) ? 1 : opacity;
                  this.setAttribute('fill-opacity', thisOpacity);
                  return thisOpacity;
              });
              links = graph.links.filter(function(o) {
                return o.source === d
              }).sort(function(x,y){
                return d3.descending(x.score, y.score)
              })
              gtext+="<h3>Correlating Topics:</h3>"
              gtext+="<table>"
              for (l in links) {
                gtext+='<tr><td>'
                gtext+=links[l].target.title
                gtext+=': '+links[l].score.toPrecision(2)
                gtext+='</td><td><input class="tselect" type="checkbox" value='+links[l].target.id+'></tr>'
              }
              gtext+="</table>"
              gtext+='<p>Show me documents associated with these topics:&nbsp; '
              gtext+='<button id="show_docs" onclick="get_docs()">Go</button>'
              $("#graphinfo").html(gtext)

              link.style("stroke-opacity", opacity).style("stroke-opacity", function(o) {
                  return o.source === d || o.target === d ? 1 : opacity;
              });
          };
      }
}






</script>

{% endblock %}
