{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=run_id %} {% endblock %}

{% block content %}

<div id="top"></div>

<h1 id="header">
    <table><tr>
        <td id="title">Online LDA Runs</td>
    </tr></table>

    <hr noshade>
</h1>

<div id="main">
<table>
    <td width="50%">
    <table>
		<tr>
			<th>Run id</th>
      <th>Method</th>
      <th>Query ID</th>
			<th>Started</th>
			<th>Topics</th>
			<th>Documents</th>
			<th>Terms</th>
			<th>Error</th>
      <th>Max Features</th>
      <th>Ngram size</th>
			<th>Iterations</th>
      <th>Duration</th>
      <th>Actions</th>
      <th>Notes</th>
    </tr>
		{% for stat in stats %}

      <tr>
			<td><a href="{% url 'tmv_app:topics' stat.run_id %}">{{ stat.run_id }}</a></td>
      <td>{{ stat.get_method_display }}</td>
      {% if stat.query_id %}
        <td><a href="{% url 'scoping:doclist' stat.query_id %}">{{ stat.query.id }}</a></td>
      {% else %}
      <td>None</td>
      {% endif %}
			<td>{{ stat.start }}</td>
			<td>{{ stat.topics }}</td>
			<td>{{ stat.docs_seen }}</td>
			<td>{{ stat.terms }}</td>
			<td>{{ stat.error|floatformat:3 }}</td>
			<td>{{ stat.max_features }}</td>
			<td>{{ stat.ngram }}</td>
			<td>{{ stat.iterations }}</td>
      <td>{{ stat.start|timesince:stat.last_update}}</td>
      <td><button onclick="window.location.href='runs/delete/{{ stat.run_id }}';event.stopImmediatePropagation();">Delete</button></td>
      <td>
          <form action="{% url 'tmv_app:update' stat.run_id %}" method="post" >
          {% csrf_token %}
          <textarea rows=3 name="notes">{{ stat.notes }}</textarea>
          <input type="submit" value="save"/>
          </form>
      </td>
		</tr>
		{% endfor %}
    </table>
    </td>
</table>
</div>

<div id="footer">
    <br>
    <hr noshade>
</div>

{% endblock %}
