{% extends "tmv_app/base.html" %}

{% block navbar %} {% include 'tmv_app/nav_bar.html' with run_id=stats.run_id %} {% endblock %}

{% block content %}

<h1 id="header">
    <table><tr>
        <td id="title">Topic Modelling Stats </td>
    </tr></table>

    <hr noshade>
</h1>

<div id="main">
    <table>
        <tr><td width="210px">
        Model started running at {{ stat.start }}, and has run {{ stats_start|timesince:stat.last_update }}.
        <br>Last update at {{ stat.last_update }}, or {{ stat.last_update|timesince}} ago.
        <br>{{ num_batches }} Batches Completed
        <br>{{ stat.docs_seen }} out of {{ stat.num_docs }} Documents seen
        <br>{{ num_topics }} Topics
        <br>{{ num_terms }} Terms
        </td></tr>
    </table>
</div>

<div id="footer">
    <br>
    <hr noshade>
</div>

{% endblock %}
