{% extends "tmv_app/base_bs.html" %}
{% load bootstrap4 %}

{% block content %}

<div id="top"></div>
<h1 id="header">
<table><tr>
<td id="title">{{ topic.title }}</td>
</tr></table></span>
<hr noshade>
</h1>

<div id="main">


<table><tr>
<td width="100%">
    <div id="pyGraph" height="600"></div><br>
</td>

</tr>
</table>
<table>
<tr>
<td width="25.0%">
    <table class="dark">
    <tr class="title">
    <td>words</td></tr>
    {% if terms %}
	    {% for term in terms %}
	    <tr class="list" onmouseover="highlight('{{ term.title }}')" onmouseout="unhighlight('{{ term.title }}')">
                <td class="word_list_item" id="{{ term.title }}_list"><a href="{% url 'tmv_app:term_detail' run_id term.id %}">{{ term.title }} - {{term.score}}</a>
                </td>

        </tr>
	    {% endfor %}
    {% endif %}
    <tmv-topic-terms-column>
    </table>
</td>

<td width="50.0%">
  <div class="explanation">
    <h2>Related Documents ({{ndocs}})</h2>
    <p>Sort by: <select id="sort">
      <option value="-doctopic__score">Score (descending)</option>
      <option value="PY">Year (ascending)</option>
      <option value="-PY">Year (descending)</option>
      <option value="wosarticle__tc">Citations (ascending)</option>
      <option value="-wosarticle__tc">Citations (descending)</option>
    </select>
  </div>
  <p>

    <table class="light" id="doc_table">

    </table>

</td>

<td width="25.0%">

{% if corrtops %}
  <table class="dark">
  <tr class="title">
  <td>related topics</td><td></tr>
	{% for corrtop in corrtops %}
	<tr id="{{ corrtop.title }}" class="list" onclick="window.location.href='/tmv_app/topic/{{ corrtop.topiccorr.pk }}'">
        <td>{{ corrtop.topiccorr.title }}</td>
        <td>{{ corrtop.score |floatformat:4}}</td>
    <tr>
	{% endfor %}
  </table>
{% endif %}

{% if dtops %}
  <table class="dark">
  <tr class="title">
  <td>Dynamic Topics</td><td></tr>
	{% for t in dtops %}
	<tr id="{{ t.pk }}" class="list" onclick="window.location.href='/tmv_app/dynamic_topic/{{ t.dynamictopic.pk }}'">
        <td>{{ t.dynamictopic.title }}</td>
        <td>{{ t.score |floatformat:4}}</td>
    <tr>
	{% endfor %}
</table>

{% endif %}

{% if journals %}
    <p>
  <table class="dark">
  <tr class="title">
  <td>Top Journals</td><td></tr>
	{% for j in journals %}
	<tr>
        <!-- id="{{ corrtop.title }}" class="list" onclick="window.location.href='/tmv_app/topic/{{ corrtop.topiccorr.pk }}'"> -->
        <td width="75%">{{ j.fulltext }}</td>
        <td width="25%">{{ j.t }} docs</td>
    <tr>
	{% endfor %}
  </table>
{% endif %}


</table>


</div>

<div id="footer">
<br>
<hr noshade>

{% endblock %}

{% block script %}

<script type="text/JavaScript">

$('#sort').on('change', function() {
  get_docs(this.value)
})

function get_docs(s) {
  console.log("getting docs")
  $("body").toggleClass('waiting')
  $.ajax({
    url: "{% url 'tmv_app:get_topic_docs' topic.pk %}",
    data: {
      'sort': s
    },
    success: function(response) {
      $("#doc_table").html(response)
      $("body").toggleClass('waiting')
    }
  })
}

get_docs('-doctopic__score')

  function highlight(id) {
	   	var list = document.getElementById(id+'_list');
	   	var bar = document.getElementById(id+'_bar');
		if (list != null) {
			list.style.backgroundColor='#628AE3';
		}
		if (bar != null) {
			bar.style.backgroundColor='#416DCC';
		}
	}

  function unhighlight(id) {
		var list = document.getElementById(id+'_list');
	   	var bar = document.getElementById(id+'_bar');
		if (list != null) {
			list.style.backgroundColor='#799FF2';
		}
		if (bar != null) {
			bar.style.backgroundColor='#799FF2';
		}
  }

    // Yt graph
    var data = {{ yts|safe }};
    var topic = {{ topic.pk |safe }};
    var topic_title = '{{ topic.title }}';
    console.log(topic)
    console.log(topic_title)
    console.log(data)

    var width = $("#pyGraph").parent().width();
    var height = width /3

    var graph = d3.select("#pyGraph")
	    .append("svg")
	    .attr("width", width)
	    .attr("height", height);

    graph.append("rect")
	    .attr("width", width)
	    .attr("height", height)
	    .style("fill", "white")
	    .style("stroke", "black")
	    .style("stroke-width", 2)

    graph.append("line")
	    .attr("class", "axis")
	    .attr("x1", width*0.1)
	    .attr("x2", width* 0.9)
	    .attr("y1", height*0.9)
	    .attr("y2", height*0.9)
	    .attr("stroke-width", 1)
	    .attr("stroke", "black");

    graph.append("line")
	    .attr("class", "axis")
	    .attr("x1", width*0.1)
	    .attr("x2", width* 0.1)
	    .attr("y1", height*0.9)
	    .attr("y2", height*0.1)
	    .attr("stroke-width", 1)
	    .attr("stroke", "black");

    max_score = d3.max(data, function(d) { return d.score/d.count })

    yscale = d3.scaleLinear()
	    .domain([0, max_score])
	    .range([height*0.9, height*0.1]);

    min_PY = d3.min(data, function(d) { return d.PY })
    max_PY = d3.max(data, function(d) { return d.PY })


    xscale = d3.scaleLinear()
	    .domain([min_PY, max_PY])
	    .range([width*0.1, width*0.9]);


	var line = d3.line()
		.x(function(d) {
			return xscale(d.PY);
		})
		.y(function(d) {
			return yscale(d.score/d.count);
		})

    var topics = d3.nest()
    .key(function(d) {
        return d.topic__title;
    })
    .sortValues(function(a,b) { return a.PY - b.PY})
    .entries(data);

    var years = d3.nest()
    .key(function(d) {
        return d.PY;
    })
    .entries(data);

    console.log(topics)


    var topicClass = function(x) {
        if (x == topic_title || x == topic){
            return 'current_topic';
                } else {
            return 'other_topic';
        }
    }

    div = graph.append("text")
	    .attr("text-anchor", "middle")
		.attr("fill", "black")
		.attr("font-size", "16px")
		.attr("x", width/2)
		.attr("y", 25)
        .attr("id", "topic")
		.text(topic_title)

    graph.selectAll("circle")
		.data(data)
		.enter()
		.append("circle")
		.attr("cx", function(d) { return xscale(d.PY)})
		.attr("cy", function(d) { return yscale(d.score/d.count)})
        .attr('class', function(d) {
            return topicClass(d.topic_id)
        });

    topics.forEach(function(d) {
        graph.append('svg:path')
            .attr('d', line(d.values))
            .attr('class', function() {
                return topicClass(d.key)
            })
			.on("mouseover", function() {
                d3.select(this).classed("hovered",true)
                d3.select("#topic").transition().duration(200)
                    .style("fill", "#b3cde3")
                    .text(d.key);
            })
            .on("mouseout", function() {
                d3.select(this).classed("hovered",false)
                d3.select("#topic").transition().duration(200)
                    .style("fill", "#fbb4ae")
                    .text(topic_title);
            })
            .on("click", function() {
                link = "/tmv_app/topic/"+d.values[0].topic_id
                window.location.assign(link)
            })
            .attr('fill', 'none');
    });

    years.forEach(function(d) {
        graph.append('svg:text')
            .attr("text-anchor", "middle")
            .attr("fill", "black")
		    .attr("font-size", "18px")
		    .attr("x", function() { return xscale(parseFloat(d.key))})
		    .attr("y", height*0.97)
            .text(function() {
                if(parseFloat(d.key) % 5==0) {
                    return d.key
                }
            });
    });





    </script>

{% endblock %}
