{% extends "tmv_app/base_bs.html" %}
{% load bootstrap4 %}

{% block content %}
<div id="top"></div>
<div id="header">
<p>
<h1>Topic browser</h1>
<br>
<h2>Relative presence of topics in all documents</h2>
<h3>Run no. {{run_id}} with {{stat.get_method_display}} model on query
  {% if stat.query %}
    <a href="{% url 'scoping:query' stat.query.id %}">{{stat.query}}</a>
  {% elif stat.psearch %}
    <a href="{% url 'parliament:search-home' stat.psearch.id %}">{{stat.psearch}}</a>
  {% else %}
    None
  {% endif %}
<hr noshade>
</div>
<div id="graph">
{% if topic_tuples %}
    <table width="100%">
    {% for topic, topic_score, width in topic_tuples %}
    <tr><td><table width="{{ width|floatformat:2 }}%">
      <tr><td class="high-contrast" title="{{ topic_score|floatformat:0 }}" >
    </td></tr></table>
        {% if stat.method == "DT" %}
        <a href="{% url 'tmv_app:dynamic_topic_detail' topic.pk %}">{{ topic.title }}</a>
        {% else %}
        <a href="{% url 'tmv_app:topic_detail' topic.pk %}">{{ topic.title }}</a>
        {% endif %}
    </td></tr>
    {% endfor %}
    </table>
{% else %}

The status of this topic model is currently  [{{stat.get_status_display}}]

{% endif %}

</div>

<div id="footer">
<br>
<hr noshade>

<a href="{% url 'tmv_app:print_table' run_id %}">Download a table of these topics</a>

{% endblock %}
